body #app {
  /* TODO: Update to more usable color-mix:
    (https://developer.mozilla.org/en-US/blog/color-palettes-css-color-mix/)
  */

  /* Colors */
  --clr_raw_purple-25: #f8f6fc;
  --clr_raw_purple-50: #f4eefc;
  --clr_raw_purple-100: #e8ddf7;
  --clr_raw_purple-200: #e3d5fc;
  --clr_raw_purple-300: #cfbdff;
  --clr_raw_purple-400: #b29bff;
  --clr_raw_purple-500: #8e76ed;
  --clr_raw_purple-600: #6e4dd0;
  --clr_raw_purple-700: #5036ae;
  --clr_raw_purple-800: #3c1979;
  --clr_raw_purple-900: #250955;
  --clr_raw_purple-950: #0f0539;

  --clr_raw_teal-25: #f0f5f9;
  --clr_raw_teal-50: #f1f8fe;
  --clr_raw_teal-100: #e2f4fc;
  --clr_raw_teal-200: #bfdcf8;
  --clr_raw_teal-300: #90cbf3;
  --clr_raw_teal-400: #47a6e9;
  --clr_raw_teal-500: #1fabd8;
  --clr_raw_teal-600: #1165b8;
  --clr_raw_teal-700: #0f5495;
  --clr_raw_teal-800: #114b7b;
  --clr_raw_teal-900: #143566;
  --clr_raw_teal-950: #0d3244;

  // Calculated Values
  --purple-clr_25: light-dark(var(--clr_raw_purple-25), var(--clr_raw_purple-950));
  --purple-clr_50: light-dark(var(--clr_raw_purple-50), var(--clr_raw_purple-950));
  --purple-clr_100: light-dark(var(--clr_raw_purple-100), var(--clr_raw_purple-900));
  --purple-clr_200: light-dark(var(--clr_raw_purple-200), var(--clr_raw_purple-800));
  --purple-clr_300: light-dark(var(--clr_raw_purple-300), var(--clr_raw_purple-700));
  --purple-clr_400: light-dark(var(--clr_raw_purple-400), var(--clr_raw_purple-600));
  --purple-clr_500: light-dark(var(--clr_raw_purple-500), var(--clr_raw_purple-500));
  --purple-clr_600: light-dark(var(--clr_raw_purple-600), var(--clr_raw_purple-400));
  --purple-clr_700: light-dark(var(--clr_raw_purple-700), var(--clr_raw_purple-300));
  --purple-clr_800: light-dark(var(--clr_raw_purple-800), var(--clr_raw_purple-200));
  --purple-clr_900: light-dark(var(--clr_raw_purple-900), var(--clr_raw_purple-100));
  --purple-clr_950: light-dark(var(--clr_raw_purple-950), var(--clr_raw_purple-50));

  --teal-clr_50: light-dark(var(--clr_raw_teal-50), var(--clr_raw_teal-950));
  --teal-clr_100: light-dark(var(--clr_raw_teal-100), var(--clr_raw_teal-900));
  --teal-clr_200: light-dark(var(--clr_raw_teal-200), var(--clr_raw_teal-800));
  --teal-clr_300: light-dark(var(--clr_raw_teal-300), var(--clr_raw_teal-700));
  --teal-clr_400: light-dark(var(--clr_raw_teal-400), var(--clr_raw_teal-600));
  --teal-clr_500: light-dark(var(--clr_raw_teal-500), var(--clr_raw_teal-500));
  --teal-clr_600: light-dark(var(--clr_raw_teal-600), var(--clr_raw_teal-400));
  --teal-clr_700: light-dark(var(--clr_raw_teal-700), var(--clr_raw_teal-300));
  --teal-clr_800: light-dark(var(--clr_raw_teal-800), var(--clr_raw_teal-200));
  --teal-clr_900: light-dark(var(--clr_raw_teal-900), var(--clr_raw_teal-100));
  --teal-clr_950: light-dark(var(--clr_raw_teal-950), var(--clr_raw_teal-50));

  --purple-clr_bgtext: light-dark(var(--clr_raw_purple-50), var(--clr_raw_purple-950));
  --teal-clr_bgtext: light-dark(var(--clr_raw_purple-50), var(--clr_raw_purple-950));

  --active-clr_25: var(--purple-clr_25);
  --active-clr_50: var(--purple-clr_50);
  --active-clr_100: var(--purple-clr_100);
  --active-clr_200: var(--purple-clr_200);
  --active-clr_300: var(--purple-clr_300);
  --active-clr_400: var(--purple-clr_400);
  --active-clr_500: var(--purple-clr_500);
  --active-clr_600: var(--purple-clr_600);
  --active-clr_700: var(--purple-clr_700);
  --active-clr_800: var(--purple-clr_800);
  --active-clr_900: var(--purple-clr_900);
  --active-clr_950: var(--purple-clr_950);
  &.purple {
    --active-clr_50: var(--purple-clr_50);
    --active-clr_100: var(--purple-clr_100);
    --active-clr_200: var(--purple-clr_200);
    --active-clr_300: var(--purple-clr_300);
    --active-clr_400: var(--purple-clr_400);
    --active-clr_500: var(--purple-clr_500);
    --active-clr_600: var(--purple-clr_600);
    --active-clr_700: var(--purple-clr_700);
    --active-clr_800: var(--purple-clr_800);
    --active-clr_900: var(--purple-clr_900);
    --active-clr_950: var(--purple-clr_950);
  }
  &.teal {
    --active-clr_50: var(--teal-clr_50);
    --active-clr_100: var(--teal-clr_100);
    --active-clr_200: var(--teal-clr_200);
    --active-clr_300: var(--teal-clr_300);
    --active-clr_400: var(--teal-clr_400);
    --active-clr_500: var(--teal-clr_500);
    --active-clr_600: var(--teal-clr_600);
    --active-clr_700: var(--teal-clr_700);
    --active-clr_800: var(--teal-clr_800);
    --active-clr_900: var(--teal-clr_900);
    --active-clr_950: var(--teal-clr_950);
  }
  --white: var(--active-clr_50);
  --black: var(--active-clr_900);
  --body-color: var(--active-clr_50);
}
