:root {
  color-scheme: light dark;
}
.app {
  /* TODO: Update to more usable color-mix:
    (https://developer.mozilla.org/en-US/blog/color-palettes-css-color-mix/)
  */

  // &.light {
  //   color-scheme: light;
  // }
  // &.dark {
  //   color-scheme: dark;
  // }
  /* Colors */
  --clr_mode: oklab;
  --clr_length: longer hue;
  // Color stops
  --clr_stop-light-25: 85%;
  --clr_stop-light-50: 80%;
  --clr_stop-light-100: 70%;
  --clr_stop-light-200: 55%;
  --clr_stop-light-300: 40%;
  --clr_stop-light-400: 20%;
  --clr_stop-light-500: 00%;
  --clr_stop-dark-600: 20%;
  --clr_stop-dark-700: 30%;
  --clr_stop-dark-800: 50%;
  --clr_stop-dark-900: 70%;
  --clr_stop-dark-950: 80%;

  // Purple-specific Color
  --clr_raw_purple: #8e76ed;
  --clr_purple_white-target: color-mix(in var(--clr_mode),var(--clr_raw_purple),white 90%);
  --clr_purple_dark-target: color-mix(in var(--clr_mode),var(--clr_raw_purple),black 80%);

  --clr_raw_purple-25-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_white-target) var(--clr_stop-light-25));
  --clr_raw_purple-50-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_white-target) var(--clr_stop-light-50));
  --clr_raw_purple-100-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_white-target) var(--clr_stop-light-100));
  --clr_raw_purple-200-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_white-target) var(--clr_stop-light-200));
  --clr_raw_purple-300-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_white-target) var(--clr_stop-light-300));
  --clr_raw_purple-400-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_white-target) var(--clr_stop-light-400));
  --clr_raw_purple-500-new: var(--clr_raw_purple);
  --clr_raw_purple-600-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_dark-target) var(--clr_stop-dark-600));
  --clr_raw_purple-700-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_dark-target) var(--clr_stop-dark-700));
  --clr_raw_purple-800-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_dark-target) var(--clr_stop-dark-800));
  --clr_raw_purple-900-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_dark-target) var(--clr_stop-dark-900));
  --clr_raw_purple-950-new: color-mix(in var(--clr_mode),var(--clr_raw_purple),var(--clr_purple_dark-target) var(--clr_stop-dark-950));

  --clr_raw_purple-25: #fbf8ff;
  --clr_raw_purple-50: #f4eefc;
  --clr_raw_purple-100: #e8ddf7;
  --clr_raw_purple-200: #e3d5fc;
  --clr_raw_purple-300: #c7b4fb;
  --clr_raw_purple-400: #b29bff;
  --clr_raw_purple-500: #8e76ed;
  --clr_raw_purple-600: #6e4dd0;
  --clr_raw_purple-700: #5036ae;
  --clr_raw_purple-800: #3c1979;
  --clr_raw_purple-900: #250955;
  --clr_raw_purple-950: #0f0539;

  --clr_raw_teal-25: #f0f5f9;
  --clr_raw_teal-50: #f1f8fe;
  --clr_raw_teal-100: #e2f4fc;
  --clr_raw_teal-200: #bfdcf8;
  --clr_raw_teal-300: #90cbf3;
  --clr_raw_teal-400: #47a6e9;
  --clr_raw_teal-500: #1fabd8;
  --clr_raw_teal-600: #1165b8;
  --clr_raw_teal-700: #0f5495;
  --clr_raw_teal-800: #114b7b;
  --clr_raw_teal-900: #143566;
  --clr_raw_teal-950: #0d3244;

  // Calculated Values
  --primary-clr_25: light-dark(var(--clr_raw_purple-25), var(--clr_raw_purple-950));
  --primary-clr_50: light-dark(var(--clr_raw_purple-50), var(--clr_raw_purple-950));
  --primary-clr_100: light-dark(var(--clr_raw_purple-100), var(--clr_raw_purple-900));
  --primary-clr_200: light-dark(var(--clr_raw_purple-200), var(--clr_raw_purple-800));
  --primary-clr_300: light-dark(var(--clr_raw_purple-300), var(--clr_raw_purple-700));
  --primary-clr_400: light-dark(var(--clr_raw_purple-400), var(--clr_raw_purple-600));
  --primary-clr_500: light-dark(var(--clr_raw_purple-500), var(--clr_raw_purple-500));
  --primary-clr_600: light-dark(var(--clr_raw_purple-600), var(--clr_raw_purple-400));
  --primary-clr_700: light-dark(var(--clr_raw_purple-700), var(--clr_raw_purple-300));
  --primary-clr_800: light-dark(var(--clr_raw_purple-800), var(--clr_raw_purple-200));
  --primary-clr_900: light-dark(var(--clr_raw_purple-900), var(--clr_raw_purple-100));
  --primary-clr_950: light-dark(var(--clr_raw_purple-950), var(--clr_raw_purple-50));

  --secondary-clr_50: light-dark(var(--clr_raw_teal-50), var(--clr_raw_teal-950));
  --secondary-clr_100: light-dark(var(--clr_raw_teal-100), var(--clr_raw_teal-900));
  --secondary-clr_200: light-dark(var(--clr_raw_teal-200), var(--clr_raw_teal-800));
  --secondary-clr_300: light-dark(var(--clr_raw_teal-300), var(--clr_raw_teal-700));
  --secondary-clr_400: light-dark(var(--clr_raw_teal-400), var(--clr_raw_teal-600));
  --secondary-clr_500: light-dark(var(--clr_raw_teal-500), var(--clr_raw_teal-500));
  --secondary-clr_600: light-dark(var(--clr_raw_teal-600), var(--clr_raw_teal-400));
  --secondary-clr_700: light-dark(var(--clr_raw_teal-700), var(--clr_raw_teal-300));
  --secondary-clr_800: light-dark(var(--clr_raw_teal-800), var(--clr_raw_teal-200));
  --secondary-clr_900: light-dark(var(--clr_raw_teal-900), var(--clr_raw_teal-100));
  --secondary-clr_950: light-dark(var(--clr_raw_teal-950), var(--clr_raw_teal-50));

  --primary-clr_bgtext: light-dark(var(--clr_raw_purple-50), var(--clr_raw_purple-950));
  --secondary-clr_bgtext: light-dark(var(--clr_raw_purple-50), var(--clr_raw_purple-950));

  --black: var(--primary-clr_900);

  --white: var(--primary-clr_50);
  --purewhite: light-dark(#fff, #000);

  --body-color: var(--primary-clr_50);
}
