#app {
/* Sizing */
.w-100        { width: 100%; }
.w-80         { width: 80%; }
.w-75         { width: 75%; }
.w-66         { width: 66%; }
.w-50         { width: 50%; }
.w-40         { width: 40%; }
.w-33         { width: 33%; }
.w-25         { width: 25%; }

/* Display */
.flex          { display: flex; }
.grid         { display: grid; }

/* Justification */
.jc-start    { justify-content: start;         }
.jc-center   { justify-content: center;        }
.jc-around   { justify-content: space-around;  }
.jc-between  { justify-content: space-between; }
.jc-end      { justify-content: end;           }
.ji-start    { justify-items: start;           }
.ji-center   { justify-items: center;          }
.ji-around   { justify-items: space-around;    }
.ji-between  { justify-items: space-between;   }
.ji-end      { justify-items: end;             }
.js-start    { justify-self: start;            }
.js-center   { justify-self: center;           }
.js-around   { justify-self: space-around;     }
.js-between  { justify-self: space-between;    }
.js-end      { justify-self: end;              }
/* Alignment */
.ac-start    { align-content: start;           }
.ac-center   { align-content: center;          }
.ac-around   { align-content: space-around;    }
.ac-between  { align-content: space-between;   }
.ac-end      { align-content: end;             }
.ai-start    { align-items: start;             }
.ai-center   { align-items: center;            }
.ai-around   { align-items: space-around;      }
.ai-between  { align-items: space-between;     }
.ai-end      { align-items: end;               }
.as-start    { align-self: start;              }
.as-center   { align-self: center;             }
.as-around   { align-self: space-around;       }
.as-between  { align-self: space-between;      }
.as-end      { align-self: end;                }
/* Placement */
.pc-start    { place-content: start;           }
.pc-center   { place-content: center;          }
.pc-around   { place-content: space-around;    }
.pc-between  { place-content: space-between;   }
.pc-end      { place-content: end;             }
.pi-start    { place-items: start;             }
.pi-center   { place-items: center;            }
.pi-around   { place-items: space-around;      }
.pi-between  { place-items: space-between;     }
.pi-end      { place-items: end;               }
.ps-start    { place-self: start;              }
.ps-center   { place-self: center;             }
.ps-around   { place-self: space-around;       }
.ps-between  { place-self: space-between;      }
.ps-end      { place-self: end;                }

/* Grid-Gap */
.gap-_25 { gap: .25rem; } .gap-_5 { gap: .5rem; } .gap-1 { gap: 1rem; } .gap-2 { gap: 2rem; } .gap-3 { gap: 3rem;   }
.gap-4  { gap: 4rem;  }   .gap-5 { gap: 5rem; }   .gap-6 { gap: 6rem; } .gap-8 { gap: 8rem; } .gap-10 { gap: 10rem; }

/* Grid Columns */
.grid-2-col { grid-template-columns: repeat(2, 1fr); }
.grid-3-col { grid-template-columns: repeat(3, 1fr); }
.grid-4-col { grid-template-columns: repeat(4, 1fr); }
.grid-5-col { grid-template-columns: repeat(5, 1fr); }
.grid-6-col { grid-template-columns: repeat(6, 1fr); }
.grid-1-2-col { grid-template-columns: 1fr 2fr }
.grid-1-3-col { grid-template-columns: 1fr 3fr }
.grid-1-4-col { grid-template-columns: 1fr 4fr }
.grid-1-6-col { grid-template-columns: 1fr 6fr }
.grid-1-8-col { grid-template-columns: 1fr 8fr }
@media (width < 992px) {
.grid-6-col { grid-template-columns: repeat(4, 1fr); }
.grid-5-col { grid-template-columns: repeat(3, 1fr); }
.grid-4-col { grid-template-columns: repeat(3, 1fr); }
.grid-3-col { grid-template-columns: repeat(2, 1fr); }
}
@media (width < 768px) {
.grid-6-col { grid-template-columns: repeat(3, 1fr); }
.grid-5-col { grid-template-columns: repeat(3, 1fr); }
.grid-4-col { grid-template-columns: repeat(2, 1fr); }
.grid-3-col { grid-template-columns: repeat(1, 1fr); }
.grid-2-col { grid-template-columns: repeat(1, 1fr); }
}
@media (width < 576px) {
.grid-6-col { grid-template-columns: repeat(3, 1fr); }
.grid-5-col { grid-template-columns: repeat(2, 1fr); }
.grid-4-col { grid-template-columns: repeat(1, 1fr); }
}


/* Border-radius */
.br-5      { border-radius: 5px;   }
.br-10     { border-radius: 10px;  }
.br-15     { border-radius: 15px;  }
.br-20     { border-radius: 20px;  }
.br-100    { border-radius: 100vw; }
.br-top-15 { border-radius: 15px 15px 0 0; }
.br-top-10 { border-radius: 10px 10px 0 0; }
.br-top-5  { border-radius: 5px  5px  0 0; }
.br-bot-15 { border-radius: 0 0 15px 15px; }
.br-bot-10 { border-radius: 0 0 10px 10px; }
.br-bot-5  { border-radius: 0 0 5px  5px ; }

/* Text-align */
.ta-left   { text-align: left;   }
.ta-center { text-align: center; }
.ta-right  { text-align: right;  }
}
