/* prettier-ignore */
#app {
/* Sizing */
.w-100 { width: 100%; } .h-100 { height: 100%; }
.w-90  { width: 90%;  } .h-90  { height: 90%;  }
.w-80  { width: 80%;  } .h-80  { height: 80%;  }
.w-75  { width: 75%;  } .h-75  { height: 75%;  }
.w-66  { width: 66%;  } .h-66  { height: 66%;  }
.w-50  { width: 50%;  } .h-50  { height: 50%;  }
.w-40  { width: 40%;  } .h-40  { height: 40%;  }
.w-33  { width: 33%;  } .h-33  { height: 33%;  }
.w-25  { width: 25%;  } .h-25  { height: 25%;  }
.mw-unset { max-width: unset; }

/* Display */
.flex { display: flex; } .grid { display: grid; }

/* Justification */
.jc-start    { justify-content: start;         }
.jc-center   { justify-content: center;        }
.jc-around   { justify-content: space-around;  }
.jc-between  { justify-content: space-between; }
.jc-end      { justify-content: end;           }
.ji-start    { justify-items: start;           }
.ji-center   { justify-items: center;          }
.ji-around   { justify-items: space-around;    }
.ji-between  { justify-items: space-between;   }
.ji-end      { justify-items: end;             }
.js-start    { justify-self: start;            }
.js-center   { justify-self: center;           }
.js-around   { justify-self: space-around;     }
.js-between  { justify-self: space-between;    }
.js-end      { justify-self: end;              }
/* Alignment */
.ac-start    { align-content: start;           }
.ac-center   { align-content: center;          }
.ac-around   { align-content: space-around;    }
.ac-between  { align-content: space-between;   }
.ac-end      { align-content: end;             }
.ai-start    { align-items: start;             }
.ai-center   { align-items: center;            }
.ai-around   { align-items: space-around;      }
.ai-between  { align-items: space-between;     }
.ai-end      { align-items: end;               }
.as-start    { align-self: start;              }
.as-center   { align-self: center;             }
.as-around   { align-self: space-around;       }
.as-between  { align-self: space-between;      }
.as-end      { align-self: end;                }
/* Placement */
.pc-start    { place-content: start;           }
.pc-center   { place-content: center;          }
.pc-around   { place-content: space-around;    }
.pc-between  { place-content: space-between;   }
.pc-end      { place-content: end;             }
.pi-start    { place-items: start;             }
.pi-center   { place-items: center;            }
.pi-around   { place-items: space-around;      }
.pi-between  { place-items: space-between;     }
.pi-end      { place-items: end;               }
.ps-start    { place-self: start;              }
.ps-center   { place-self: center;             }
.ps-around   { place-self: space-around;       }
.ps-between  { place-self: space-between;      }
.ps-end      { place-self: end;                }

/* Grid-Gap */
.gap-_25 { gap: .25rem; } .gap-_5 { gap: .5rem; } .gap-1 { gap: 1rem; } .gap-2 { gap: 2rem; } .gap-3 { gap: 3rem;   }
.gap-4  { gap: 4rem;  }   .gap-5 { gap: 5rem; }   .gap-6 { gap: 6rem; } .gap-8 { gap: 8rem; } .gap-10 { gap: 10rem; }

/* Grid Columns */
.grid-2-col, .grid-2-col-fixed { grid-template-columns: repeat(2, 1fr); }
.grid-3-col, .grid-3-col-fixed { grid-template-columns: repeat(3, 1fr); }
.grid-4-col, .grid-4-2-col, .grid-4-col-fixed { grid-template-columns: repeat(4, 1fr); }
.grid-5-col, .grid-5-2-col, .grid-5-col-fixed { grid-template-columns: repeat(5, 1fr); }
.grid-6-col, .grid-6-2-col, .grid-6-col-fixed { grid-template-columns: repeat(6, 1fr); }
.grid-1_2-col { grid-template-columns: 1fr 2fr; }
.grid-1_3-col { grid-template-columns: 1fr 3fr; }
.grid-1_4-col { grid-template-columns: 1fr 4fr; }
.grid-1_6-col { grid-template-columns: 1fr 6fr; }
.grid-1_8-col { grid-template-columns: 1fr 8fr; }

.grid-area-unset { grid-area: unset; };
.grid-table {
  grid-template-rows: repeat(30, auto);
  gap: 0;
  >* {
    margin: 0 .5em; display:grid; grid-template-rows: subgrid; grid-row: 1/-1;
    >*{ margin: .5em 0; }
  }
}
.grid-span-full, .grid-span { grid-column: 1/-1; }

@container main-container (width < 1000px) {
  .grid-6-col { grid-template-columns: repeat(4, 1fr); } .grid-5-col { grid-template-columns: repeat(3, 1fr); }
  .grid-4-col { grid-template-columns: repeat(3, 1fr); } .grid-3-col { grid-template-columns: repeat(3, 1fr); }
}
@container main-container (width < 800px) {
  .grid-6-col { grid-template-columns: repeat(3, 1fr); } .grid-5-col { grid-template-columns: repeat(3, 1fr); }
  .grid-4-col { grid-template-columns: repeat(2, 1fr); } .grid-3-col { grid-template-columns: repeat(2, 1fr); }
  .grid-5-2-col { grid-template-columns: repeat(4, 1fr); } .grid-4-2-col { grid-template-columns: repeat(3, 1fr); }
  .grid-table {
    grid-template-rows: unset;
    >* { display:grid; grid-template-rows: unset; grid-row: unset; }
  }
}
@container main-container (width < 600px) {
  .grid-6-col { grid-template-columns: repeat(3, 1fr); } .grid-5-col { grid-template-columns: repeat(2, 1fr); }
  .grid-4-col { grid-template-columns: repeat(1, 1fr); } .grid-3-col { grid-template-columns: repeat(1, 1fr); } .grid-2-col { grid-template-columns: repeat(1, 1fr); }
  .grid-5-2-col { grid-template-columns: repeat(2, 1fr); } .grid-4-2-col { grid-template-columns: repeat(2, 1fr); }


}
@container main-container (width < 400px) {
  .grid-6-col { grid-template-columns: repeat(2, 1fr); } .grid-5-col { grid-template-columns: repeat(1, 1fr); }
  .grid-5-2-col { grid-template-columns: repeat(1, 1fr); } .grid-4-2-col { grid-template-columns: repeat(1, 1fr); }
}

/* Border-radius */
.br-10     { border-radius: 10px               ; }
.br-5      { border-radius: 5px                ; }
.br-15     { border-radius: 15px               ; }
.br-20     { border-radius: 20px               ; }
.br-100    { border-radius: 100vw              ; }
.br-top-15 { border-radius: 15px 15px 0    0   ; }
.br-top-10 { border-radius: 10px 10px 0    0   ; }
.br-top-5  { border-radius: 5px  5px  0    0   ; }
.br-bot-15 { border-radius: 0    0    15px 15px; }
.br-bot-10 { border-radius: 0    0    10px 10px; }
.br-bot-5  { border-radius: 0    0    5px  5px ; }
.br-tl-15  { border-radius: 15px 0    0    0   ; }
.br-tl-10  { border-radius: 10px 0    0    0   ; }
.br-tl-5   { border-radius: 5px  0    0    0   ; }
.br-tr-15  { border-radius: 0    15px 0    0   ; }
.br-tr-10  { border-radius: 0    10px 0    0   ; }
.br-tr-5   { border-radius: 0    5px  0    0   ; }
.br-ntl-15 { border-radius: 0    15px 15px 15px; }
.br-ntl-10 { border-radius: 0    10px 10px 10px; }
.br-ntl-5  { border-radius: 0    5px  5px  5px ; }
.br-ntr-15 { border-radius: 15px 0    15px 15px; }
.br-ntr-10 { border-radius: 10px 0    10px 10px; }
.br-ntr-5  { border-radius: 5px  0    5px  5px ; }

/* Text-align */
.ta-left   { text-align: left;   }
.ta-center { text-align: center; }
.ta-right  { text-align: right;  }

// Text
.italic { font-style: italic; }
.no-break {word-break: keep-all;}
.color-unset { color: unset; }
.small { font-size: 0.8rem; font-weight: 400; }
.xsmall { font-size: 0.6rem;}

.color-white { color: var(--white); }
.bg-white { background-color: var(--white); }
.bw-disabled { filter: grayscale(1); pointer-events: none; color: #ffffffaa; }

.paused, .paused::before, .paused::after {animation-play-state: paused;}
}
