@media (prefers-color-scheme: light) {
  .palate-colors {
    &.unset {
      --card_gradient: linear-gradient(to bottom left, #d3d3d3, #cfc4d2, #b09bd0, #bdafff);
      --card_card-border: linear-gradient(180deg, #fff, #ecc3ff);
      --card_profile-bg_color: linear-gradient(45deg, #d0bfda, #dfdee6);
    }
    &.sweet {
      --card_gradient: linear-gradient(to bottom left, #ffb3e5, #ff75dd, #8e60d3, #bdafff);
      --card_card-border: linear-gradient(180deg, #fff, #ffc3fd);
      --card_profile-bg_color: linear-gradient(45deg, #ffcbf3, #ded3ff);
    }
    &.energetic {
      --card_gradient: linear-gradient(to bottom left, #67d6ff, #3650ff, #0092c8, #4da9ff);
      --card_card-border: linear-gradient(to bottom, #ffffff, #bbf0ff);
      --card_profile-bg_color: linear-gradient(45deg, #cbdfff, #c2f1ff);
    }
    &.dreadful {
      --card_gradient: linear-gradient(to bottom left, #6548d5, #311ca5, #782f8c, #951c37);
      --card_card-border: linear-gradient(180deg, #fff, #ffc3e7);
      --card_profile-bg_color: linear-gradient(45deg, #c5d5ff, #facceb);
    }
    &.mundane {
      --card_gradient: linear-gradient(to bottom left, #c5c3cc, #8e8e95, #5a5c6f, #9899a0);
      --card_card-border: linear-gradient(180deg, #fff, #cdccd3);
      --card_profile-bg_color: linear-gradient(45deg, #e1e3ea, #cfced6);
    }
    &.strange {
      --card_gradient: linear-gradient(to bottom left, #b7ff8f, #61ba5a, #009157, #7dc58c);
      --card_card-border: linear-gradient(180deg, #fff, #f7ffc3);
      --card_profile-bg_color: linear-gradient(45deg, #d3ffc5, #ccfaee);
    }
    &.passionate {
      --card_gradient: linear-gradient(to bottom left, #fffab3, #ff8e5f, #ff5757, #ffad99);
      --card_card-border: linear-gradient(180deg, #fff, #ffe1c3);
      --card_profile-bg_color: linear-gradient(45deg, #ffeec5, #ffe0ca);
    }
    &.playful {
      --card_gradient: linear-gradient(to bottom left, #a9ebff, #5a8cff, #cc9bff, #ff9fe1);
      --card_card-border: linear-gradient(180deg, #fff, #c1d7ff);
      --card_profile-bg_color: linear-gradient(45deg, #d3fbff, #ffc6f6);
    }
    &.dazzling {
      --card_gradient: linear-gradient(to bottom left, #ffd273, #ff5a5a, #aed457, #6eed88);
      --card_card-border: linear-gradient(180deg, #fff, #fff4ca);
      --card_profile-bg_color: linear-gradient(45deg, #f7f5bc, #b8ecd3);
    }
    &.whimsical {
      --card_gradient: linear-gradient(to bottom left, #ffbee1, #b671ff, #0e8871, #98cf6f);
      --card_card-border: linear-gradient(180deg, #fff, #ffd7ef);
      --card_profile-bg_color: linear-gradient(45deg, #fbd3ff, #c7ecd1);
    }
    &.thrilling {
      --card_gradient: linear-gradient(to bottom left, #b5fffe, #0d46e4, #711997, #c11f4b);
      --card_card-border: linear-gradient(180deg, #fff, #d7f3ff);
      --card_profile-bg_color: linear-gradient(45deg, #d3f3ff, #ffd5f0);
    }
    &.surreal {
      --card_gradient: linear-gradient(to bottom left, #efffc2, #26be6e, #4525c5, #dd1295);
      --card_card-border: linear-gradient(180deg, #fff, #dbffcf);
      --card_profile-bg_color: linear-gradient(45deg, #d1f4d4, #ffd0ff);
    }
    &.charming {
      --card_gradient: linear-gradient(to bottom left, #ffd0fd, #ff8fed, #ff8339, #f4cd98);
      --card_card-border: linear-gradient(180deg, #fff, #f7c8ff);
      --card_profile-bg_color: linear-gradient(45deg, #ffd3f3, #fffed5);
    }
    &.melodramatic {
      --card_gradient: linear-gradient(to bottom left, #ffc868, #a71c68, #2d2076, #ff5356);
      --card_card-border: linear-gradient(180deg, #fff, #ffea9b);
      --card_profile-bg_color: linear-gradient(45deg, #ffeac1, #fac6ff);
    }
    &.bittersweet {
      --card_gradient: linear-gradient(to bottom left, #ffc2e0, #cb2e76, #3819b5, #a693ff);
      --card_card-border: linear-gradient(180deg, #fff, #ffcfea);
      --card_profile-bg_color: linear-gradient(45deg, #ffc9f0, #ddd0ff);
    }
    &.sensational {
      --card_gradient: linear-gradient(to bottom left, #d3ff90, #46b756, #0092c8, #77bdff);
      --card_card-border: linear-gradient(180deg, #fff, #f3ffbb);
      --card_profile-bg_color: linear-gradient(45deg, #caf0c5, #c2f1ff);
    }
    &.fiery {
      --card_gradient: linear-gradient(to bottom left, #98f8ff, #2168ec, #ff452a, #ff9a15);
      --card_card-border: linear-gradient(180deg, #fff, #ffe8bb);
      --card_profile-bg_color: linear-gradient(45deg, #c9f5ff, #ffe8d0);
    }
    &.unknown {
      --card_gradient: linear-gradient(to bottom left, #feff95, #ff6ab5, #3cc1ff, #c7ec7b);
      --card_card-border: linear-gradient(180deg, #fff, #fff2ca);
      --card_profile-bg_color: linear-gradient(45deg, #ffd0e4, #c2f1ff);
    }
  }
}

@media (prefers-color-scheme: dark) {
  .palate-colors {
    &.unset {
      --card_gradient: linear-gradient(to bottom left, #282727, #333034, #302a3a, #201d2c);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #312c34, #39393c);
    }
    &.sweet {
      --card_gradient: linear-gradient(to bottom left, #392834, #3b1b32, #312149, #29253b);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #2d222a, #222026);
    }
    &.energetic {
      --card_gradient: linear-gradient(to bottom left, #1d3c47, #0e143e, #003b51, #0e2132);
      --card_card-border: linear-gradient(to bottom, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #3d444e, #3e4d52);
    }
    &.dreadful {
      --card_gradient: linear-gradient(to bottom left, #23194b, #160d4d, #381541, #4c0d1b);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #2f323c, #584652);
    }
    &.mundane {
      --card_gradient: linear-gradient(to bottom left, #48474b, #353539, #5a5c6f, #3f3f42);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #37383a, #48474e);
    }
    &.strange {
      --card_gradient: linear-gradient(to bottom left, #38502a, #244822, #013923, #35553c);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #3c4639, #293431);
    }
    &.passionate {
      --card_gradient: linear-gradient(to bottom left, #44422f, #5b311f, #531c1c, #4b3631);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #3c382d, #3e3630);
    }
    &.playful {
      --card_gradient: linear-gradient(to bottom left, #314449, #1f325e, #3d304c, #56394d);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #353e3f, #2e232c);
    }
    &.dazzling {
      --card_gradient: linear-gradient(to bottom left, #3e3218, #621f1f, #36421b, #16361d);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #494836, #2b3932);
    }
    &.whimsical {
      --card_gradient: linear-gradient(to bottom left, #4b3842, #392251, #062e27, #2d3d20);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #4f4151, #313a34);
    }
    &.thrilling {
      --card_gradient: linear-gradient(to bottom left, #405d5d, #05184e, #320b43, #600f24);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #2e3639, #43373f);
    }
    &.surreal {
      --card_gradient: linear-gradient(to bottom left, #545b42, #0e4729, #180b49, #320422);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #2e362e, #372e37);
    }
    &.charming {
      --card_gradient: linear-gradient(to bottom left, #4a3b49, #3d2539, #522810, #483d2c);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #5a4955, #31312a);
    }
    &.melodramatic {
      --card_gradient: linear-gradient(to bottom left, #43341a, #420c29, #16103b, #5c1b1c);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #3c372e, #453746);
    }
    &.bittersweet {
      --card_gradient: linear-gradient(to bottom left, #362a30, #4c102c, #1d0d5e, #211d33);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #4d3947, #322f3b);
    }
    &.sensational {
      --card_gradient: linear-gradient(to bottom left, #556242, #24612c, #003b50, #2d445a);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #465245, #404e53);
    }
    &.fiery {
      --card_gradient: linear-gradient(to bottom left, #233a3c, #102d64, #52180f, #573508);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #2a3335, #2f2c28);
    }
    &.unknown {
      --card_gradient: linear-gradient(to bottom left, #48492c, #431c30, #103243, #2d361b);
      --card_card-border: linear-gradient(180deg, var(--primary-clr_500), var(--primary-clr_300));
      --card_profile-bg_color: linear-gradient(45deg, #43363c, #39464a);
    }
  }
}
