.subtype-sweet {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_sweet.png';
  --card_profile-bg: 'public/img/masterlist/profile_sweet.png';
}
.subtype-dreadful {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_dreadful.png';
  --card_profile-bg: 'public/img/masterlist/profile_dreadful.png';
}
.subtype-energetic {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_energetic.png';
  --card_profile-bg: 'public/img/masterlist/profile_energetic.png';
}
.subtype-passionate {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_passionate.png';
  --card_profile-bg: 'public/img/masterlist/profile_passionate.png';
}
.subtype-strange {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_strange.png';
  --card_profile-bg: 'public/img/masterlist/profile_strange.png';
}
.subtype-mundane {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_mundane.png';
  --card_profile-bg: 'public/img/masterlist/profile_mundane.png';
}
.subtype-playful {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_playful.png';
  --card_profile-bg: 'public/img/masterlist/profile_playful.png';
}
.subtype-thrilling {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_thrilling.png';
  --card_profile-bg: 'public/img/masterlist/profile_thrilling.png';
}
.subtype-surreal {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_surreal.png';
  --card_profile-bg: 'public/img/masterlist/profile_surreal.png';
}
.subtype-sensational {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_sensational.png';
  --card_profile-bg: 'public/img/masterlist/profile_sensational.png';
}
.subtype-bittersweet {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_bittersweet.png';
  --card_profile-bg: 'public/img/masterlist/profile_bittersweet.png';
}
.subtype-whimsical {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_whimsical.png';
  --card_profile-bg: 'public/img/masterlist/profile_whimsical.png';
}
.subtype-fiery {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_fiery.png';
  --card_profile-bg: 'public/img/masterlist/profile_fiery.png';
}
.subtype-charming {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_charming.png';
  --card_profile-bg: 'public/img/masterlist/profile_charming.png';
}
.subtype-dazzling {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_dazzling.png';
  --card_profile-bg: 'public/img/masterlist/profile_dazzling.png';
}
.subtype-melodramatic {
  --card_gradient: linear-gradient(to bottom right, black, white, gray, blue);
  --card_card-border: linear-gradient(to bottom left, white, black);
  --card_profile-bg_color: linear-gradient(to right, white, black);
  --card_badge-img: 'public/img/masterlist/badge_melodramatic.png';
  --card_profile-bg: 'public/img/masterlist/profile_melodramatic.png';
}
