// Variables
@import 'support-classes';
@import 'variables';
@import 'mixins';
//  >:o(
@import '~bootstrap/scss/bootstrap';

/* prettier-ignore */
* {  box-sizing: border-box; }
/* prettier-ignore */
h1, h2, h3 { font-family: "Sour Gummy", system-ui; font-weight: 400; text-transform: lowercase;}
/* prettier-ignore */
h4, h5, h6 { font-family: "Stylish", system-ui; font-weight: 400;}
/* prettier-ignore */
ul { padding: 0; }

/* General Styling */
#app {
  font-family: 'Baloo 2', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  .site-background {
    position: fixed;
    width: 100dvw;
    height: 100dvh;
    top: 0;
    left: 0;
    background-image: url('../../public/images/somnivores/raw/reveriefullres.webp');
    background-size: cover;
  }
  display: grid;
  justify-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 40px;
  #site-wrapper {
    --sb-width: min(20vw, 200px);
    --app-width: 70vw;
    display: grid;
    grid-template:
      'logo' 20vh
      'nav' max-content
      'main' auto
      'footer' max-content
      / auto;
    gap: 10px 20px;
    position: relative;
    width: var(--app-width);
    height: min-content;
    margin-bottom: 35px;
    /* background-color: #8f83;
    border: 3px solid #8f8f; */
    #main-content {
      grid-area: main;
      max-width: 100%;
      background-color: var(--body-color);
      border-radius: 15px;
      position: relative;
      max-width: 1200px;
      //  TODO: this breaks position: fixed for some dumbass spec reason
      // backdrop-filter: blur(5px);
    }
    .card {
      border-radius: 10px;
      overflow: hidden;
    }
    .modal-dialog .modal-body .inventory-main-img img {
      width: 100%;
    }
  }
}

/* Desktop Only */
/* @media (width >= 992px) {} */

/* Tablet Down */
@media (width <= 992px) {
  /* @media screen and (max-width: var(--ss-medium)) { */
  #app {
    background-image: url('../../public/images/somnivores/reveriehalfres.webp');
    --m-app-padding: 10px;
    --m-app-width: calc(100vw - (var(--m-app-padding) * 2));
    padding: 10px var(--m-app-padding);
    #site-wrapper {
      width: var(--m-app-width);
      &.has-sidebar {
        gap: 10px;
        left: 0;
        margin-bottom: 15px;
      }
    }
  }
}

// Components
@import './site-components/background';
@import './site-components/footer';
@import './site-components/navbar';
@import './site-components/sidebar';
@import './site-components/site-header';
@import './site-components/animations';
@import './site-components/modal';
@import './site-components/misc';
