* {  transition: background-color 0.4s ease, border-color 0.4s ease, color 0.4s ease; }
*, *::before, *::after {  box-sizing: border-box; }
html { background-color: light-dark(#eee, #222)}
.app{
  // Site settings
  --var_backdrop-saturate: 200%;
  --var_backdrop-blur: 5px;
  --var_animation_time: 1000s;
  --var_transition_time: 1000s;
  --var_transition_timing: initial;
}

// Google Fonts
// TODO: combine this
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..900&family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

// Variables
@import './support/_colors';
@import './support/_colors_calc';
@import './support/_support-classes';
@import './support/_variables';
@import './support/_mixins';

// Global changes
@import './global/strapless';
@import './global/elements';
@import './global/site-frame';

// Component-specific
@import './site-components/masterlist/ml_profile.scss';
@import './site-components/masterlist/ml_cards.scss';
@import './site-components/prompt_submissions.scss';
@import './site-components/site-header';
@import './site-components/breadcrumb';
@import './site-components/searchbars';
@import './site-components/animations';
@import './site-components/background';
@import './site-components/frontpage';
@import './site-components/inventory';
@import './site-components/gallery';
@import './site-components/dailies';
@import './site-components/sidebar';
@import './site-components/profile';
@import './site-components/navbar';
@import './site-components/footer';
@import './site-components/modal';
@import './site-components/card';
@import './site-components/lore';
@import './site-components/misc';
