// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Itim&display=swap');

// Variables
@import './support/_colors';
@import './support/_support-classes';
@import './support/_variables';
@import './support/_mixins';

// Global changes
@import './global/strapless';
@import './global/elements';
@import './global/site-frame';


// Component-specific
@import './site-components/masterlist/ml_profile.scss';
@import './site-components/masterlist/ml_cards.scss';
@import './site-components/site-header';
@import './site-components/animations';
@import './site-components/background';
@import './site-components/frontpage';
@import './site-components/sidebar';
@import './site-components/navbar';
@import './site-components/footer';
@import './site-components/modal';
@import './site-components/card';
@import './site-components/lore';
@import './site-components/misc';
