/* prettier-ignore */
*, *::before, *::after {  box-sizing: border-box; }
/* prettier-ignore */
* {  transition: background-color 1s ease, border-color 1s ease, color 1s ease; }

/* prettier-ignore */
.app {
h1,h2,h3 {
  font-family: 'Fredoka', sans-serif, system-ui;
  font-weight: 600;
  font-size: 1.9rem;
}
h1 {
  text-transform: uppercase;
  color: var(--purple-clr_700);
}
h2, h3 {
  font-family: 'Itim', sans-serif, system-ui;
  text-transform: lowercase;
  color: var(--purple-clr_600);
}
h2 { font-size: 1.8rem;}
h3 { font-size: 1.5rem;}

h4, h5, h6 {
  font-family: "Itim", system-ui;  font-weight: 400;
  text-transform: lowercase;
  color: var(--purple-clr_700);
  font-style: italic;
}
}
.app {
  /* prettier-ignore */
  ul { padding: 0; }
  a {
    color: var(--purple-clr_500);
    &:hover {
      color: var(--purple-clr_700);
    }
  }
  .btn { margin: 5px; border-radius: 10px;}
  .btn-primary,
  .btn-info,
  .btn-danger,
  .btn-success,
  .btn-secondary {
    color: var(--purple-clr_50);
  }
  .btn-outline-primary:hover {
    color: var(--purple-clr_50);
  }
  .btn-primary, .badge-primary { background-color: var(--teal-clr_600); }
  .btn-secondary { background-color: var(--purple-clr_400);  color: var(--purple-clr_700); }
  .notifications-table.unread { background-color: var(--purple-clr_100); }
}
