/* General Styling */
#app {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--purple-clr_950);
  display: grid;
  justify-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 3vh;
  max-width: 100dvw;
  max-height: 100dvh;
  --app-gap-x: 20px;
  --app-gap-y: 10px;
  --sidebar-width: min(20vw, 300px);
  --gutter-width: 5vw;
  --gutters-width: (2 * var(--gutter-width));
  --content-min-width: 600px;
  --content-max-width: 1600px;
  --ideal-content-width: calc(100dvw - 40px - var(--gutters-width) - var(--sidebar-width));
  --content-width: clamp(var(--content-min-width), var(--ideal-content-width), var(--content-max-width));
  --app-width: calc(var(--content-width) + var(--app-gap-x) + var(--sidebar-width));
  #site-wrapper {
    display: grid;
    grid-template:
      'logo' 20vh
      'nav' max-content
      'main' auto
      'footer' max-content
      / auto;
    gap: var(--app-gap-x) var(--app-gap-y);
    position: relative;
    max-width: calc(100dvw - var(--gutters-width));
    height: min-content;
    &.has-sidebar {
      grid-template:
        '   .     logo ' clamp(150px, 15vh, 300px)
        '   .     nav  ' min-content
        'sidebar  main ' auto
        'sidebar footer' auto
        /
        var(--sidebar-width) var(--content-width);
    }
    left: calc(-0.2 * var(--sidebar-width)); /* sidebar offset */
  }
  #site-wrapper {
    padding-bottom: 55px;
    #main-content {
      grid-area: main;
      max-width: 100%;
      position: relative;
      border-radius: 15px;
      // contain: layout;
      z-index: 1;
      .main-backdrop {
        z-index: 0;
        @include body-bg;
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .content-wrapper {
        position: relative;
        z-index: 1;
        padding: 1.5rem;
        border-radius: 15px;
        // background-image: radial-gradient(transparent 0%, transparent calc(100% - 60px), white 100%);
        box-shadow: 0 0 5px inset white;
      }
    }
    .site-background {
      position: fixed;
      width: 100dvw;
      height: 100dvh;
      top: 0;
      left: 0;
      background-image: url('../../../public/images/somnivores/reveriefullres.webp');
      // --site-bg-dark: url('../../../public/images/somnivores/reveriefullres_dark.png');
      // --site-bg-lite: url('../../../public/images/somnivores/reveriefullres.webp');
      // background-image: light-dark(var(--site-bg-lite), var(--site-bg-dark));
      background-size: cover;
    }
    .modal-dialog .modal-body .inventory-main-img img {
      width: 100%;
    }
  }
}

/* Desktop Only */
/* @media (width >= 992px) {} */

/* Tablet Down */
@media (width <= 992px) {
  /* @media screen and (max-width: var(--ss-medium)) { */
  #app {
    // background-image: url('../../../public/images/somnivores/reveriehalfres.webp');
    --m-app-padding: 10px;
    --m-app-width: calc(100vw - (var(--m-app-padding) * 2));
    --sidebar-width: 0;
    --gutter-width: 1vw;
    --content-min-width: 200px;
    --content-max-width: calc(992px - var(--gutters-width));
    --ideal-content-width: calc(100dvw - 40px - var(--gutters-width));
    --app-gap-x: 00px;
    --app-gap-y: 10px;
    padding: 10px var(--m-app-padding);
    #site-wrapper {
      width: var(--m-app-width);
      &.has-sidebar {
        gap: 10px;
        left: 0;
        margin-bottom: 15px;
        padding: 10px;
        grid-template:
          'logo' 25vmin
          'nav' max-content
          'sidebar' max-content
          'main' auto
          'footer' max-content
          / 100%;
      }
    }
  }
}

// @media (prefers-color-scheme: dark) {
//   #app #site-wrapper .site-background {
//     background-image: url('../../../public/images/somnivores/reveriefullres_dark.png');
//   }
// }
