/* General Styling */
#app {
  font-family: 'Baloo 2', sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  color: var(--purple-clr_950);
  display: grid;
  justify-items: center;
  justify-content: center;
  min-height: 100vh;
  padding-top: 3vh;
  max-width: 100dvw;
  overflow-x: hidden;
  // cursor:  url("images/cursor.png") 4 12,  auto;
  --app-gap-x: 20px;
  --app-gap-y: 20px;
  --sidebar-width: min(15vw, 260px);
  --sidebars-width: calc(var(--sidebar-width) * 2);
  --gutter-width: 1.5vw;
  --gutters-width: (2 * var(--gutter-width));
  --content-min-width: 500px;
  --content-max-width: 1600px;
  --ideal-content-width: calc(100dvw - 40px - var(--gutters-width) - var(--sidebars-width));
  --content-width: clamp(var(--content-min-width), var(--ideal-content-width), var(--content-max-width));
  --app-width: calc(var(--content-width) + var(--app-gap-x) + var(--sidebars-width));

  #site-wrapper {
    display: grid;
    gap: var(--app-gap-x) var(--app-gap-y);
    position: relative;
    --wrapper-max-width: calc(100dvw - var(--gutters-width));
    max-width: var(--wrapper-max-width);
    height: min-content;
    --header-logo-height: clamp(150px, 15vh, 300px);
    --header-nav-height: 50px;
    grid-template:
      '   .     logo    . ' var(--header-logo-height)
      '   .     nav     . ' var(--header-nav-height)
      'sidebar  main  char' auto
      'sidebar footer char' auto
      / var(--sidebar-width) var(--content-width) var(--sidebar-width);
    padding-bottom: 55px;
    #main-content {
      grid-area: main;
      max-width: 100%;
      position: relative;
      border-radius: 15px;
      container: main-container / inline-size;
      z-index: 1;

      background-image: url('images/reveriefullres_blur.png');
      background-size: cover;
      background-position: cover;
      background-attachment: fixed;
      // .main-backdrop {
      //   z-index: 0;
      //   @include body-bg;
      //   position: absolute;
      //   width: 100%;
      //   height: 100%;
      // }
      .content-wrapper {
        position: relative;
        z-index: 1;
        padding: 20px min(40px, 4vmin);
        border-radius: 15px;
        // background-image: radial-gradient(transparent 0%, transparent calc(100% - 60px), white 100%);
        box-shadow: 0 0 5px inset var(--white);
      }
    }

    .site-background {
      position: fixed;
      width: 100dvw;
      height: 100vh;
      top: 0;
      left: 0;
      background-image: url('images/somnivores/reveriefullres.webp');
      // background-image: url('/images/somnivores/reveriefullres.webp');
      // --site-bg-dark: url('images/somnivores/reveriefullres_dark.webp');
      // --site-bg-lite: url('images/somnivores/reveriefullres.webp');
      // background-image: light-dark(var(--site-bg-lite), var(--site-bg-dark));
      background-size: cover;
    }
  }
}

/* Desktop Only */
/* @media (width >= 1000px) {} */

/* Tablet Down */
@media (width <= 1000px) {
  /* @media screen and (max-width: var(--ss-medium)) { */
  #app {
    // background-image: url('images/somnivores/reveriehalfres.webp');
    --m-app-padding: 10px;
    --m-app-width: calc(100vw - (var(--m-app-padding) * 2));
    --sidebar-width: 0;
    --gutter-width: 3vw;
    --content-min-width: 200px;
    --content-max-width: calc(1000px - var(--gutters-width));
    --ideal-content-width: calc(100dvw - 40px - var(--gutters-width));
    --app-gap-x: 00px;
    --app-gap-y: 10px;
    padding: 10px var(--m-app-padding);
    #site-wrapper {
      width: var(--m-app-width);
      &.has-sidebar {
        gap: 10px;
        left: 0;
        padding: 0;
        margin-bottom: 15px;
        grid-template:
          'logo' 25vmin
          'nav' max-content
          'sidebar' max-content
          'main' auto
          'footer' max-content
          / calc(100vw - var(--gutters-width));
      }
    }
    #selected-character {
      display: none;
      &.profile {
        display: initial;
      }
    }
  }
}
@media (width <= 600px) {
  #app {
    --gutter-width: 0vw;
    padding: 0px;
    #site-wrapper {
      width: 100%;
      #main-content {
        .main-backdrop {
          background-color: color-mix(in srgb, var(--body-color) 80%, transparent);
          backdrop-filter: unset;
        }
      }
      #header-nav {
        margin: -3vw 3vw 0;
      }
      #sidebar-container {
        margin: 0 3vw;
        max-width: calc(100% - 6vw) !important;
      }
      #custom-page-parsed {
        padding: 0px;
        max-width: 100%;
      }
    }
  }
}
