#dashboard {
  .card {
    background: #b3a0e6;
    .dashboard-img {
      width: 100%;
      object-fit: contain;
    }
    h5 {
      color: white;
      font-size: 3em;
      padding: 0;
      margin: -20px 0 -10px;
      text-align: right;
    }
    .list-group-item {
      padding: 0;
      a {
        padding: 10px;
        display: block;
        text-align: center;
        width: calc(100% - 20px);
        transition: .2s ease;
        transform-origin: center;
        &:hover{
          transform: scale(1.1);
        }
      }
    }
  }
}
