/* Header Glint */
#app #site-logo-header picture::after {
  --glare-width: 5%;
  mask-image: linear-gradient(
    70deg,
    transparent 0%,
    transparent calc(50% - var(--glare-width)),
    white 50%,
    transparent calc(50% + var(--glare-width)),
    transparent 100%
  );
  mask-size: 200%;
  mask-position: 50% 50%;
  mask-mode: alpha;
  filter: brightness(300%) opacity(.8);
  position: relative;
  animation: glare 15s ease-in-out forwards infinite;
}
@keyframes glare {
  0% {
    mask-position: 0% 50%;
  }
  00% {
    mask-position: 0% 50%;
  }
  100% {
    mask-position: -250% 50%;
  }
}

@keyframes cloud-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200vw);
  }
}
