/* Header Glint */
#app #site-logo-header picture::after {
  --glare-width: 5%;
  mask-image: linear-gradient(
    70deg,
    transparent 0%,
    transparent calc(50% - var(--glare-width)),
    white 50%,
    transparent calc(50% + var(--glare-width)),
    transparent 100%
  );
  mask-size: 200%;
  mask-position: 50% calc(50% - 0.03vh);
  mask-mode: alpha;
  filter: brightness(300%) opacity(0.8);
  position: relative;
  animation: glare min(var(--setting_animation_time), 11s) ease-in-out forwards infinite;
  @media (prefers-reduced-motion: reduce) {
    animation-duration: 0s !important;
  }
}
@keyframes glare {
  0% {
    mask-position: -50% 50%;
  }
  100% {
    mask-position: -200% 50%;
  }
}

@keyframes cloud-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(200vw);
  }
}
