#app {
  .scolling-bg {
    position: fixed;
    top: 0;
    left: 0;
    .cloud {
      position: fixed;
      width: 70vw;
      --cloud-width: 50vw;
      height: var(--cloud-width);
      animation: cloud-scroll 5s linear forwards infinite;
      background-image: url('https://transparenttextures.com/patterns/nice-snow.png');
      background-repeat: repeat;
      @media (prefers-reduced-motion: reduce) {
        animation-duration: 0s !important;
      }
    }
    .cloud-1,
    .cloud-2,
    .cloud-3 {
      width: 100vw;
    }
    /* prettier-ignore */
    .cloud-1 {left: calc(90vw - (var(--cloud-width) * 1));}
    /* prettier-ignore */
    .cloud-2 {left: calc(90vw - (var(--cloud-width) * 2));}
    /* prettier-ignore */
    .cloud-3 {left: calc(90vw - (var(--cloud-width) * 3));}
  }
}
