#app {
  #site-wrapper {
    #footer {
      grid-area: footer;
      border-radius: 15px;
      background-color: var(--body-color);
      backdrop-filter: blur(5px);
      width: 100%;
      display: grid;
      grid-template:
        '. links top'
        '. credit top'
        / 10% auto 10%;
      justify-content: center;
      text-align: center;
      gap: 10px;
      place-content: center;
      place-items: center;
      margin-top: 10px;
      max-height: 150px;
      .navbar-nav {
        grid-area: links;
      }
      .copyright {
        grid-area: credit;
      }
      #backToTop {
        grid-area: top;
        border-radius: 50px;
        border: 3px solid #007bffaa;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        display: flex;
        justify-self: end;
        place-content: center;
        place-items: center;
      }
      &::before {
        content: '';
        width: 80%;
        justify-self: center;
        height: 2px;
        border-radius: 5px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}

/* Mobile Only */
@media (width < 768px) {
  #footer {
    .navbar-nav {
      flex-direction: row;
      gap: 5px 10px;
      a {
        padding: 0;
      }
    }
  }
}
