#app {
  #site-wrapper {
    #footer {
      @include body-bg;
      grid-area: footer;
      border-radius: 15px;
      width: 100%;
      display: grid;
      grid-template:
        '. links top'
        '. credit top'
        / 10% 75% 10%;
      justify-content: center;
      text-align: center;
      gap: 10px;
      place-content: center;
      place-items: center;
      margin-top: 10px;
      max-height: 150px;
      padding: 15px;
      .footer-nav-item {
        display: flex;
        align-content: center;
        align-items: center;
        &:first-of-type::before,
        &::after {
          color: var(--purple-clr_300);
          margin: 0 10px;
        }
        &:first-of-type::before {
          content: '✦';
        }
        &::after {
          content: '✦';
        }
      }
      .navbar-ul {
        grid-area: links;
        margin: 0;
      }
      .copyright {
        grid-area: credit;
        font-size: 0.8em;
        color: var(--purple-clr_300);
      }
      #backToTop {
        grid-area: top;
        border-radius: 50px;
        color: var(--purple-clr_100);
        background-color: var(--purple-clr_400);
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        display: flex;
        justify-self: end;
        place-content: center;
        place-items: center;
      }
      &::before {
        content: '';
        width: 80%;
        justify-self: center;
        height: 2px;
        border-radius: 5px;
      }
      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        li {
          list-style: none;
        }
      }
    }
  }
}

/* Mobile Only */
@media (width < 800px) {
  #footer {
    .navbar-ul {
      flex-direction: row;
      gap: 5px 10px;
      a {
        padding: 0;
      }
    }
  }
}
