.home-dashboard {
  display: grid;
  grid-template:
    'welc  welc  welc  welc' auto
    'event daily daily daily' auto
    'news  news  sale  sale' auto
    'subm  subm  subm  subm' auto
    / 4fr 2fr 2fr 3fr;
  gap: 30px;

  h2 {
    background: linear-gradient(
      to bottom left,
      light-dark(#51297c, #c99ff7),
      light-dark(#4559bd, #889cff),
      light-dark(#5ca0d4, #72bcf5)
    );
    width: max-content;
    background-clip: text;
    color: transparent;
    text-shadow: none;
  }
  .welcome-banner {
    grid-area: welc;
  }
  .current-event {
    grid-area: event;
  }
  .dailies {
    grid-area: daily;
  }
  .newsfeed {
    grid-area: news;
  }
  .sales {
    grid-area: sale;
  }
  .recent-submissions {
    grid-area: subm;
  }
  .bubblebox {
    display: grid;
    grid-template-rows: max-content auto;
    .bubble {
      display: grid;
      background: var(--white);
      background-color: color-mix(in srgb, var(--white) 80%, transparent);
      box-shadow: 0 2px 10px color-mix(in srgb, var(--active-clr_600) 40%, transparent);
      border-radius: 15px;
      width: 100%;
      justify-items: center;
      align-items: center;
      text-align: center;
      padding: 10px;
      border: 1px var(--white) solid;
      &.event,
      &.jobs {
        background-size: cover;
        h3 {
          padding: 5px 8px;
          border-radius: 10px;
          border: 1px var(--white) solid;
        }
        img {
          width: 100%;
          max-width: 100%;
          max-width: 250px;
          @include hover-preview(0);
          filter: drop-shadow(0 0 5px var(--white));
        }
      }
      &.event {
        background-image: url('../images/somnivores/frontpage/event_bg.png');
        h3 { backdrop-filter: brightness(140%) blur(5px); }
      }
      &.jobs {
        background-image: url('../images/somnivores/frontpage/jobs_bg.png');
        h3 { backdrop-filter: brightness(110%) blur(5px); }
        grid-template-columns: 1fr 1fr 1fr;
        >div{
          display: grid;
          grid-template-rows: subgrid;
        }
        .foraging img {
          filter: grayscale(1) opacity(0.5) drop-shadow(0 0 5px var(--white));
        }
      }
      .news-item {
        justify-self: start;
        text-align: start;
        padding: 10px;
      }
      &.sale-info {
        .character-info {
          .sale-details {
            grid-area: more;
            font-weight: 700;
            border-radius: 10px;
            border: 3px solid var(--white);
            margin: 5px;
          }
        }
      }
      .gallery {
        width: 100%;
        height: 100%;
        background:
          repeating-linear-gradient(-45deg, #ffffff 0, #ffffff 2px, transparent 2px, transparent 15px),
          linear-gradient(to bottom left, #bfeeff, #e6d9ff, #ffdde9, #fff1d5);
        border-radius: 15px;
        border: 2px white solid;
      }
    }
  }
}
@media (width < 768px) {
  .home-dashboard {
    grid-template:
      'welc  welc ' auto
      'event event' auto
      'daily daily' auto
      'news  sale ' auto
      'subm  subm ' auto
      / 1fr 1fr;
    .sale-info {
      grid-template: 3fr 1fr 1fr / 3fr 2fr 3fr;
      .character-picture {
        grid-area: 1/1/3/4;
        justify-self: end;
        align-self: start;
        max-width: 250px;
      }
      .character-info {
        background-color: color-mix(in srgb, var(--active-clr_500) 70%, transparent);
        display: grid;
        border-radius: 15px;
        min-width: 70%;
        color: var(--white);
        backdrop-filter: blur(5px);
        grid-area: 2/1/4/4;
        justify-self: end;
        align-self: end;
        grid-template:
          'type  price' auto
          'title artist' auto
          'more  more' auto;
        .sale-type {
          grid-area: type;
        }
        .sale-title {
          grid-area: title;
        }
        .sale-artist {
          grid-area: artist;
        }
        .sale-price {
          grid-area: price;
        }
        .sale-details {
          grid-area: more;
          font-weight: 700;
          border-radius: 10px;
          border: 3px solid var(--white);
          margin: 5px;
        }
        a {
          color: var(--white);
        }
      }
    }
  }
}
@media (width < 576px) {
  .home-dashboard {
    grid-template:
      'welc ' auto
      'event' auto
      'daily' auto
      'news ' auto
      'sale ' auto
      'subm ' auto
      / 1fr;
    .sale-info {
      grid-template: 1fr 1fr / 3fr 2fr 3fr;
    }
  }
}
