@import 'masterlist/subtype_colors';

#masterlist {
  container: mlsearch / inline-size;
}
fieldset.masterlist-search-grid {
  display: grid;
  grid-template:
    'name  species sortby submit a-btn' max-content
    'a-box a-box   a-box  a-box  a-box' auto
    / 1fr 1fr 1fr 1fr 1fr;
  .character-name {
    grid-area: name;
  }
  .species {
    grid-area: species;
  }
  .sortby {
    grid-area: sortby;
  }
  .advanced-search-toggle {
    grid-area: a-btn;
  }
  #advancedSearch {
    grid-area: a-box;
  }
  .searchbutton {
    grid-area: submit;
  }
}
@container mlsearch (width < 800px) {
  fieldset.masterlist-search-grid {
    grid-template:
      'name   name    submit' 1fr
      'sortby species a-btn ' 1fr
      'a-box  a-box   a-box ' 0px
      / 1fr 1fr 1fr;
  }
}
#ml-gridView {
  display: grid;
  gap: 20px;
  .masterlist-character {
    display: grid;
    grid-template:
      'name  name ' 2.5em
      'thumb thumb' auto
      'code  user ' 2.2em
      / min-content auto;
    border-radius: 15px;
    position: relative;
    padding: 6px;
    // // aspect-ratio: 3/4;
    // --card_gradient: linear-gradient(to bottom left, #67d6ff, #3650ff, #0092c8, #4da9ff);
    // --card_card-border: linear-gradient(to bottom, #ffffff, #bbf0ff);
    // --card_profile-bg_color: linear-gradient(45deg, #cbdfff, #c2f1ff);
    // --card_badge-img: 'public/img/masterlist/badge_sweet.png';
    // --card_profile-bg: 'public/img/masterlist/profile_sweet.png';
    background-image: var(--card_card-border);
    box-shadow: 5px 5px 5px #04043078;
    .border-background {
      grid-area: 1 / 1 / 4 / 3;
      border-radius: 14px;
      background-image: var(--card_gradient);
    }
    .ml-badge {
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 8;
      width: 20%;
      cursor: help;
      img {
        width: 100%;
        aspect-ratio: 1/1;
      }
      .flag {
        opacity: 0;
        position: absolute;
        transform: translateX(-33%) translateY(0);
        transition: 0.3s var(--smoothIn_linear);
        color: white;
        padding: 5px 10px;
        z-index: 6;
        pointer-events: none;
        word-break: keep-all;
        width: max-content;
        .bg {
          &::before,
          &::after {
            content: '';
            background-color: red;
            background: var(--card_gradient);
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            height: 100%;
            width: 100%;
            border-radius: 13px;
          }
          &::before {
            width: calc(10px + 100%);
            height: calc(10px + 100%);
            background-image: var(--card_card-border);
            border-radius: 15px;
            box-shadow: 5px 5px 5px #04043078;
          }
        }
        .label {
          position: relative;
          font-weight: 700;
          z-index: 6;
        }
      }
      &:hover {
        .flag {
          opacity: 1;
          transform: translateX(-33%) translateY(-90%);
        }
      }
    }
    .thumbnail {
      width: calc(100% - 20px);
      grid-area: thumb;
      place-self: center;
      background-color: var(--clr-active-50);
      border-radius: 15px;
      // contain: paint;
      display: grid;
      .ml-thumbnail,
      .tn-background {
        object-fit: contain;
        width: 100%;
        aspect-ratio: 1/1;
        grid-area: 1/2;
        border-radius: 15px;
      }
      .ml-thumbnail {
        z-index: 10;
        filter: drop-shadow(3px 3px 3px #10045c68);
        transition: 1.5s var(--elastic_linear);
        transform: scale(1);
        perspective: 50px;
        width: calc(100% - 10px);
        place-self: center;
        &:hover {
          transform: scale(1.1);
          // filter: drop-shadow(4px 10px 5px #10045c63);
        }
      }
      .tn-background {
        background-image: url('../../../public/images/starring.png'), var(--card_profile-bg_color);
        z-index: 1;
        filter: brightness(1);
      }
    }
    .name,
    .slug,
    .display-user {
      text-shadow: 0 0 5px #d8d8fc66;
      font-size: clamp(1em, 1.2vw, 1.3em);
      text-overflow: ellipsis;
      white-space: nowrap;
      font-weight: 700;
      color: white;
      font-size: 1.1em;
    }
    .name {
      grid-area: name;
      display: flex;
      place-items: center;
      place-content: start;
      font-family: 'Baloo 2', sans-serif;
      text-transform: uppercase;
      padding: 0 0 0 10px;
      a {
        max-width: 80%;
        color: white;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &.name-sm {
        font-size: 0.85em;
      }
      &.name-lg {
        font-size: 1.2em;
      }
    }
    .slug,
    .display-user {
      align-self: center;
      justify-self: start;
      align-items: center;
      font-family: 'Itim', sans-serif;
      font-size: 0.8em;
    }
    .slug {
      padding-left: 10px;
      grid-area: code;
    }
    .display-user {
      padding-right: 10px;
      grid-area: user;
      justify-self: end;
    }
    .paper-overlay {
      position: absolute;
      pointer-events: none;
      user-select: none;
      width: 100%;
      height: 100%;
      background-image: url('../../../public/images/groovepaper.png');
      border-radius: 15px;
      opacity: 0.7;
    }
    // .display-species {
    //   grid-area: type;
    // }
  }
}

@media (width >= 1400px) {
  #ml-gridView {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
@media (width < 1400px) {
  #ml-gridView {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
