#masterlist {
  container: mlsearch / inline-size;
}
fieldset.masterlist-search-grid {
  display: grid;
  grid-template:
    'name  species sortby submit a-btn' max-content
    'a-box a-box   a-box  a-box  a-box' auto
    / 1fr 1fr 1fr 1fr 1fr;
  .character-name {
    grid-area: name;
  }
  .species {
    grid-area: species;
  }
  .sortby {
    grid-area: sortby;
  }
  .advanced-search-toggle {
    grid-area: a-btn;
  }
  #advancedSearch {
    grid-area: a-box;
  }
  .searchbutton {
    grid-area: submit;
  }
}
@container mlsearch (width < 800px) {
  fieldset.masterlist-search-grid {
    grid-template:
      'name   name    submit' 1fr
      'sortby species a-btn ' 1fr
      'a-box  a-box   a-box ' 0px
      / 1fr 1fr 1fr;
  }
}
#ml-gridView {
  display: grid;
  gap: 10px;
  .masterlist-character {
    display: grid;
    grid-template:
      'name  name ' 3em
      'thumb thumb' auto
      'code  user ' 4em
      / min-content auto;
    border-radius: 15px;
    border: 2px solid var(--purple-clr_600);
    background: linear-gradient(to top right, #bf9afe, #abf0ab);
    position: relative;
    padding: 0 15px;
    .ml-badge {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      img {
        width: max(50px, 3cqw);
        height: max(50px, 3cqw);
      }
    }
    .name {
      grid-area: name;
      border-radius: 13px 13px 0 0;
      display: flex;
      place-items: center;
      place-content: start;
      padding: 0 0 0 10px;
      margin: 10px 0;
      a {
        font-size: clamp(1em, 2vw, 2em);
        max-width: calc(100% - max(50px, 3cqw));
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--purple-clr_600);
      }
    }
    .thumbnail {
      width: 100%;
      grid-area: thumb;
      place-self: center;
      border: 2px solid var(--purple-clr_600);
      background-color: var(--clr-active-50);
      border-radius: 15px;
      contain: paint;
      display: grid;
      .ml-thumbnail,
      .tn-background {
        object-fit: contain;
        width: 100%;
        aspect-ratio: 1/1;
        grid-area: 1/2;
      }
      .ml-thumbnail {
        z-index: 2;
        filter: drop-shadow(5px 5px 5px #010151);
      }
      .tn-background {
        z-index: 1;
        filter: brightness(1);
      }
    }
    .slug,
    .display-user {
      align-self: center;
      justify-self: start;
      color: var(--purple-clr_800);
    }
    .slug {
      grid-area: code;
    }
    .display-user {
      grid-area: user;
      justify-self: end;
    }
    // .display-species {
    //   grid-area: type;
    // }
  }
}
