.app {
  // Breadcrumb styling
  .breadcrumb {
    contain: paint;
    .breadcrumb-item {
      --bc_chevron-width: 20px;
      --bc_chevron-size: 10px;
      position: relative;
      --bc-bg: var(--purple-clr_500);
      --bc-col: var(--purple-clr_100);
      display: flex;
      padding: 0 10px 0 20px;
      a,
      span {
        color: var(--bc-col);
        z-index: 1;
      }
      &:nth-of-type(1) {
        --bc-bg: var(--purple-clr_600);
        --bc-col: var(--purple-clr_100);
      }
      &:nth-of-type(2) {
        --bc-bg: var(--purple-clr_500);
        --bc-col: var(--purple-clr_100);
      }
      &.active {
        --bc-bg: var(--purple-clr_300);
        --bc-col: var(--purple-clr_700);
      }
      // CLIPPING / LAYOUT
      --bc-clip: polygon(
        calc(100% - var(--bc_chevron-size)) 0%,
        100% 50%,
        calc(100% - var(--bc_chevron-size)) 100%,
        0% 100%,
        var(--bc_chevron-size) 50%,
        0% 0%
      );
      &:first-of-type {
        --bc-clip: polygon(
          0% 0%,
          calc(100% - var(--bc_chevron-size)) 0%,
          100% 50%,
          calc(100% - var(--bc_chevron-size)) 100%,
          0% 100%
        );
        padding: 0 15px 0 10px;
        &::before {
          width: calc(100% + (0.25 * var(--bc_chevron-width)));
          transform: translateX(calc(-0.5 * var(--bc_chevron-width)));
          overflow: hidden;
          border-radius: 5px 0 0 5px;
        }
      }
      &::before {
        content: '';
        display: block;
        background: var(--bc-bg);
        clip-path: var(--bc-clip);
        width: calc(100% + (0.25 * var(--bc_chevron-width)));
        height: 100%;
        position: absolute;
        transform: translateX(calc(-1 * var(--bc_chevron-width)));
      }
    }
  }

  // Rarity / Currency Icons
  .rarity-icon,
  .currency-icon {
    align-content: center;
    justify-content: center;
    img {
      width: 1.6em;
      height: 1.6em;
    }
  }
}
.display-rarity {
  // &.common   { filter: drop-shadow( 0 0 2px #025b2f); }
  // &.uncommon { filter: drop-shadow( 0 0 2px #5b024b); }
  // &.rare     { filter: drop-shadow( 0 0 2px #235b02); }
  // &.mystic   { filter: drop-shadow( 0 0 2px #012567); }
}

.inventory-category {
  .inventory-item {
    display: grid;
    grid-template:
      'name  ' 2em
      'thumb ' 8em
      'rarity' 2.5em
      / 1fr;
    border-radius: 15px 15px 5px 5px;
    border: 2px solid var(--purple-clr_600);
    .title {
      grid-area: name;
      width: 100%;
      height: 100%;
      background-color: var(--purple-clr_600);
      border-radius: 13px 13px 0 0;
      display: flex;
      place-items: center;
      place-content: center;
      a {
        color: var(--purple-clr_50);
      }
    }
    .badge {
      width: 95%;
      grid-area: thumb;
      place-self: center;
      z-index: 5;
      .ml-thumbnail {
        object-fit: contain;
        width: 100%;
        height: 80%;
        aspect-ratio: 1/1;
      }
    }
    .rarity {
      grid-area: rarity;
      width: 100%;
      height: 100%;
      background-color: var(--purple-clr_700);
    }
    .card-bg_animated {
      grid-area: thumb;
    }
  }
}
.card-bg_animated {
  width: 100%;
  height: 100%;
  position: relative;
  contain: paint;
  &.common {
    opacity: 0.3;
    background-color: lightblue;
  }
  &.uncommon {
    opacity: 0.5;
    background-color: var(--purple-clr_200);
  }
  &.rare {
    opacity: 0.7;
    background-color: orange;
  }
  &.mystic {
    opacity: 0.9;
    mix-blend-mode: hard-light;
    background-image: linear-gradient(to top left, blue, orange);
  }
  .stars {
    position: relative;
    top: -20%;
    left: -20%;
    width: 150%;
    height: 150%;
    transform: rotateZ(-30deg);
    transition: all allow-discrete;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      animation: stars 20s linear forwards infinite;
      background-image: url('../../../public/images/starring.png'); // TODO: fragile path
      background-repeat: repeat;
      background-size: 50%;
      transform: translateX(0%);
    }
    &::before {
      left: -100%;
    }
    &::after {
      left: 0%;
    }
  }
}
