.app {
  // Rarity / Currency Icons
  .rarity-icon,
  .currency-icon {
    align-content: center;
    justify-content: center;
    img {
      width: 1.6em;
      height: 1.6em;
    }
  }
  .display-rarity {
    // &.common   { filter: drop-shadow( 0 0 2px #025b2f); }
    // &.uncommon { filter: drop-shadow( 0 0 2px #5b024b); }
    // &.rare     { filter: drop-shadow( 0 0 2px #235b02); }
    // &.mystic   { filter: drop-shadow( 0 0 2px #012567); }
  }


  .pet-card {
    display: grid;
    grid-template:
      'pet' max-content
      'title' 2em
      'name' 2em
      'progress' 1.5em
      'level' min-content
      / 1fr;
    img {
      grid-area: pet;
    }
    .progress {
      grid-area: progress;
      border: 2px var(--purple-clr_600) solid;
    }
    .progress-bar {
      background-color: var(--active-clr_500);
    }
    .level {
      grid-area: level;
    }
    .title {
      grid-area: title;
    }
    .name {
      grid-area: name;
      line-height: 0.9em;
    }
    .progress {
      grid-area: progress;
    }
    .level {
      grid-area: level;
    }
    .petname {
      background: var(--active-clr_200);
      color: var(--black);
    }
  }


  .daily-button {
    @include hover-preview;
    &:active {
      transition-duration: 0.8s;
      transform: scale(1.2) rotate(20deg);
    }
    &.disabled {
      filter: grayscale(0.8);
    }
  }
}
.grecaptcha-badge { display: none; }
