.app {
  // Rarity / Currency Icons
  .rarity-icon,
  .currency-icon {
    align-content: center;
    justify-content: center;
    img {
      width: 1.6em;
      height: 1.6em;
    }
  }

  nav:has(.pagination) {
    display: flex;
    justify-content: center;
    .pagination {
      width: max-content;
      background: var(--purple-clr_300);
      border-radius: 10px;
      .page-item {
        .page-link {
          background: var(--purple-clr_400);
          color: var(--purple-clr_100);
          transition: var(--smoothIn_linear) 0.7s;
          border: 1px solid transparent;
          user-select: none;
          margin: 0;
          z-index: 0;
          &:hover {
            z-index: 1;
            transition: var(--smoothIn_linear) 0.1s;
            // scale: 1.2;
            transform: translateY(-3px) scale(1.1);
            background: var(--purple-clr_500);
            color: var(--purple-clr_100);
            border-radius: 10px;
            border: 1px solid var(--white);
            box-shadow: 0 5px 3px color-mix(in srgb, var(--purple-clr_800) 30%, transparent);
          }
          &:active {
            transform: translateY(-3px) scale(0.9);
          }
        }
        &.active .page-link {
          background: var(--purple-clr_600);
          color: var(--purple-clr_100);
          &:hover {
            background: var(--purple-clr_700);
          }
        }
        &:first-of-type .page-link,
        &:last-of-type .page-link {
          background: var(--purple-clr_300);
          color: var(--purple-clr_100);
          border-radius: 10px;
        }
        &.disabled .page-link {
        }
      }
    }
  }

  .pet-card {
    display: grid;
    grid-template:
      'name' 2em
      'pet' max-content
      'title' 2em
      'progress' 1.5em
      'level' min-content
      / 1fr;
    img {
      grid-area: pet;
    }
    .progress {
      grid-area: progress;
      border: 2px var(--purple-clr_600) solid;
    }
    .progress-bar {
      background-color: var(--active-clr_500);
    }
    .level {
      grid-area: level;
    }
    .title {
      grid-area: title;
    }
    .name {
      grid-area: name;
      line-height: 0.9em;
    }
    .progress {
      grid-area: progress;
    }
    .level {
      grid-area: level;
    }
    .petname {
      background: var(--active-clr_200);
      color: var(--black);
    }
  }

  .daily-button {
    @include hover-preview;
    &:active {
      transition-duration: 0.8s;
      transform: scale(1.2) rotate(20deg);
    }
    &.disabled {
      filter: grayscale(0.8);
    }
  }
}
.grecaptcha-badge {
  display: none;
}
.commentbox {
  width: 100%;
  max-width: 100%;
  // prettier-ignore
  h1,h2,h3,h4,h5,h6,p,span {
    text-transform: unset;
    word-break: break-word;
  }
}

.cw-img {
  display: grid;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  img,
  .warning {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    max-width: 100%;
  }
  img {
    filter: blur(5px);
    scale: 0.95;
  }
  .warning {
    backdrop-filter: blur(2cqw) saturate(60%);
    transition: linear 0s;
    background-color: color-mix(in srgb, var(--white) 50%, transparent);
    display: grid;
    place-content: center;
    place-items: center;
    z-index: 10;
    border: 2px var(--purple-clr_500) solid;
    border-radius: 0 15px 15px 15px;
    opacity: 1;
    button {
      cursor: pointer;
    }
  }
  &.hidden {
    img {
      scale: 1;
      filter: blur(0px);
      transition: ease 0.2s;
    }
    .warning {
      transition: linear 0.2s;
      opacity: 0;
      backdrop-filter: blur(0) grayscale(0%);
      user-select: none;
      pointer-events: none;
    }
  }
}

// prettier-ignore
h1,h2,h3,h4,h5,h6,p,header,div,summary,
.h1,.h2,.h3,.h4,.h5,.h6 {
  &.ruled-left,
  &.ruled-center,
  &.ruled-right {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 5px;
    &::after, &::before {
      width: 100%;
      height: 2px;
      flex-grow: 2;
      margin-top: 4px;
      background-color: currentColor;
    }
  }
  &.ruled-left {
    &::after {
      content: '';
    }
  }
  &.ruled-center {
    text-align: center;
    &::before, &::after {
      content: '';
    }
  }
  &.ruled-right {
    &::before {
      content: '';
    }
  }
}

.tooltip.bs-tooltip-auto {
  border-radius: 15px;
  &.show {
    opacity: 1;
  }
  overflow: hidden;
  .tooltip-inner {
    background-color: #bb88ed;
    border: 2px solid #875cb3;
    border-radius: 15px;
    opacity: 1;
    color: white;
    transition:
      background-color 0.2s cubic-bezier(0.79, 0.265, 0.265, 1.55),
      opacity 0.2s cubic-bezier(0.79, 0.265, 0.265, 1.55);
  }
}

.logs-table-body {
  .logs-table-row {
    background-color: var(--purple-clr_100);
    padding: 0 15px;
    &:nth-child(odd) {
      background-color: var(--purple-clr_50);
    }
    &:nth-child(1) {
      padding: 5px 15px;
      border-radius: 15px 15px 0 0;
    }
    &:nth-last-child(-n + 1) {
      border-radius: 0 0 15px 15px;
      padding: 5px 15px;
    }
    .logs-table-cell {
      display: flex;
      align-content: center;
      align-items: center;
      gap: 10px;
      height: 100%;
    }
  }
}
.logs-table-header {
  padding: 0 15px;
}
#app {
  .comment {
    padding: 2cqw;
    padding-bottom: 12px;
    margin: 0;
  }
  .comment_replies {
    border-left: 4px var(--purple-clr_500) dotted;
    margin-left: 3cqw;
    padding-left: 2cqw;
    width: calc(100% - 3cqw);
  }
  .border-top {
    border-top: 2px dashed color-mix(in srgb, var(--purple-clr_400) 80%, transparent);
  }
}

.pims-content {
  // display: grid;
  // place-content: center;
  iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    max-width: 800px;
  }
}
