// Navbar itself
#app {
  #site-wrapper {
    #header-nav {
      @include body-bg;
      container: main-nav / inline-size;
      background-color: color-mix(in srgb, var(--active-clr_700) 70%, transparent);
      grid-area: nav;
      border-radius: 20px;
      z-index: 3;
      .navbar-nav {
        display: flex;
        gap: 5px;
        align-items: center;
        .dropdown {
          border-radius: 10px;
          border: 2px transparent solid;
          > a {
            color: var(--purple-clr_50);
          }
          .dropdown-toggle {
            display: flex;
            place-content: center;
            place-items: center;
            transition: 0.4s ease;
            user-select: none;
            &::after {
              transition: 1s var(--elastic_linear);
              transform: rotate(-90deg);
            }
          }
          &:has(.show) {
            // &.show {
            border-radius: 10px 10px 0 0;
            border: 2px var(--purple-clr_300) solid;
            filter: drop-shadow(0 0 10px color-mix(in srgb, var(--active-clr_800) 50%, transparent));
            box-shadow: 0 0 10px color-mix(in srgb, var(--active-clr_600) 20%, transparent);
            background-color: var(--purple-clr_50);
            z-index: 1;
            &:hover,
            &:active {
              border-radius: 10px 10px 0 0;
            }
            .dropdown-toggle {
              // padding: 5px;
              color: var(--purple-clr_700);
              &::after {
                transform: rotate(0);
              }
            }
          }
        }
      }
      .nav-item {
        padding: 0 5px;
        &:hover,
        &:active {
          background-color: var(--active-clr_700);
        }
        &.nav-notifications {
          width: 2.5em;
          transform-origin: 50% 300%;
          animation: wobble-hor-bottom 10s var(--smoothIn_linear) forwards infinite;
        }
        > .dropdown-toggle {
          color: var(--purple-clr_bgtext);
          padding: 5px 0;
        }
        .btn-secondary {
          display: flex;
          place-items: center;
          place-content: center;
          gap: 5px;
          margin: 0;
        }
        &.admin {
          border-radius: 10px;
          padding: 5px;
          a {
            color: var(--purple-clr_200);
          }
        }
        &.nav-notifications {
          background-color: var(--purple-clr_300);
          border-radius: 15px;
          a {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            gap: 5px;
            color: var(--purple-clr_600);
          }
        }
      }
      .navbar-brand .navbar-brand-image {
        max-width: 40vw;
      }
      .navbar-toggler {
        .navbar-toggler-icon {
          position: relative;
          transition: 0.3s ease;
          left: -14px;
          top: 3px;
          .line {
            width: 25px;
            height: 5px;
            border-radius: 10px;
            background-color: var(--white);
            position: absolute;
            transform-origin: center center;
            transition: 0.3s ease;
            &:nth-child(1) {
              transform: translateY(0%);
            }
            &:nth-child(2) {
              transform: translateY(200%);
            }
            &:nth-child(3) {
              transform: translateY(400%);
            }
          }
        }
        &:not(.collapsed) {
          .navbar-toggler-icon {
            top: 5px;
            .line {
              width: 40px;
              &:nth-child(1) {
                left: -6px;
                transform: rotate(-45deg) translateY(200%);
              }
              &:nth-child(2) {
                transform: translateY(200%) translateX(00%) scaleX(1.5) scaleY(0);
                opacity: 0;
              }
              &:nth-child(3) {
                left: 9px;
                transform: rotate(45deg) translateY(200%);
              }
            }
          }
        }
      }
    }
  }
}

// global dropdowns styling
.dt-nav-page {
  z-index: 2;
  .dt-nav-group {
    .dt-nav-header {
      background-color: var(--purple-clr_200);
      color: var(--purple-clr_700);
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
    }
    .dt-nav-item {
      color: var(--purple-clr_700);
      background-color: var(--body-color);
      font-weight: 500;
      text-decoration: none;
      display: grid;
      padding: 4px 10px;
      grid-template-columns: 1.5rem auto;
      gap: 10px;
      i {
        display: flex;
        place-content: center;
        place-items: center;
      }
    }
  }
}
@container main-nav (width < 700px) {
  #app #site-wrapper #navbarSupportedContent {
    #site-navbar,
    #site-navbar-auth {
      gap: 3px;
      .nav-item {
        padding: 0;
        display: grid;
        align-content: center;
        justify-content: center;
        .dt-nav-page {
          margin: -2px 0 0 -2px;
        }
        // &::after {
        //   content: '✦'
        // }
      }
    }
  }
}

// Desktop-only Dropdown styling
@media (width > 800px) {
  .dt-nav-page {
    display: none;
    top: 100%;
    opacity: 0;
    transform: scale(0.5);
    border: 2px var(--purple-clr_300) solid;
    border-top: 0;
    margin: -2px 0 0 -7px;
    transition:
      all 0.3s var(--spring_linear) allow-discrete,
      display 0.3s var(--spring_linear) allow-discrete;
    background-color: var(--body-color);
    transform-origin: 50% 0;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    min-width: max-content;
    position: relative;
    width: 100%;
    padding: 0 0 10px;
    contain: layout;
    border-radius: 15px;
    &.show {
      border-radius: 0 15px 15px 15px;
      opacity: 1;
      transform: scale(1);
      display: grid;
      .dt-nav-group .dt-nav-header._first {
        border-radius: 0 15px 0 0;
      }
    }
    &.dropdown-menu-right.show {
      margin: -2px -2px 0 0;
      border-radius: 15px 0 15px 15px;
      .dt-nav-group .dt-nav-header._first {
        border-radius: 15px 0 0 0;
      }
    }
    .dt-nav-group {
      position: relative;
      min-width: max-content;
      width: 100%;
      display: grid;
      grid-auto-rows: min-content;
      border-radius: 15px;
      .dt-nav-header {
        width: 100%;
        padding: 5px 10px;
        font-size: 1.3em;
        margin: 0;
        text-align: center;
        cursor: default;
        &._first {
          border-radius: 15px 15px 0 0;
        }
        &:hover,
        &:active {
          border-radius: 10px;
          transform: scale(1.1);
          z-index: 2;
        }
      }
      .dt-nav-item {
        transition: 0.1s ease;
        width: min(max-content, 100%);
        border: 0 transparent solid;
        border-width: 2px;
        &:first-child {
          border-radius: 15px 15px 0 0;
        }
        &:hover,
        &:active {
          background-color: var(--purple-clr_300);
          border-color: var(--purple-clr_400);
          transform: scale(1.15);
          border-radius: 100vw;
          z-index: 2;
        }
      }
      .dt-nav-header,
      .dt-nav-item,
      hr {
        transition:
          transform 0.5s var(--elastic_linear),
          border 0.3s linear,
          border-radius 0.3s linear,
          background-color 0.3s linear,
          all 0.1s linear;
      }

      .dt-nav-header,
      hr {
        border-width: 0 2px;
        border: 0px transparent solid;
      }
      // wall of sibling selectors
      .dt-nav-header:has(+ .dt-nav-item:hover),
      .dt-nav-item:has(+ .dt-nav-item:hover),
      hr:has(+ .dt-nav-item:hover), //has hovered item
      .dt-nav-header:has(+ .dt-nav-header:hover),
      .dt-nav-item:has(+ .dt-nav-header:hover),
      hr:has(+ .dt-nav-header:hover), // has hovered heading
      .dt-nav-header:hover + .dt-nav-item,
      .dt-nav-header:hover + .dt-nav-header,
      .dt-nav-header:hover + hr, // adjacent hovered item
      .dt-nav-item:hover + .dt-nav-item,
      .dt-nav-item:hover + .dt-nav-header,
      .dt-nav-item:hover + hr
      // adjacent hovered heading
      {
        transform: scale(1.06);
        z-index: 1;
        border-radius: 10px;
        border-color: transparent var(--purple-clr_300);
      }
      .dt-nav-item:has(+ .dt-nav-item:hover),
      .dt-nav-item:has(+ .dt-nav-header:hover),
      .dt-nav-item:hover + .dt-nav-item,
      .dt-nav-item:hover + .dt-nav-header {
        background-color: var(--purple-clr_100);
        border-radius: 15px;
      }
      hr {
        width: calc(100% - 20px);
        justify-self: center;
        margin: 5px;
        height: 1px;
        background-color: var(--purple-clr_600);
      }
    }
  }
  .clocktainer {
    display: grid;
    position: absolute;
    right: 0;
    top: -60px;
    align-content: center;
    justify-items: end;
    .clock,
    .cash {
      color: var(--white);
      padding: 0 10px;
      background-color: color-mix(in srgb, var(--active-clr_700) 70%, transparent);
      border-radius: 100vw;
      display: flex;
      transition: 0.3s;
      width: max-content;
      place-content: center;
      place-items: center;
      gap: 0.5em;
      span {
        color: var(--white);
        font-size: 1.1rem;
        font-weight: 600;
        img {
          height: 1.3em;
          width: 1.3em;
        }
      }
    }
    .cash {
      border-radius: 15px 15px 0 0;
      padding-top: 3px;
    }
    .clock {
      font-family:
        'PT Mono',
        Courier New,
        Courier,
        Lucida Sans Typewriter,
        Lucida Typewriter,
        monospace;
      border-radius: 15px 0 15px 15px;
      padding: 2px 10px 4px;
      #clock {
        font-size: 0.9rem;
      }
    }
  }
}
@starting-style {
  .dt-nav-page.show {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Mobile Only Dropdown-styling */
@media (width < 800px) {
  #header-nav {
    padding: 0;
    #nav-mobile-gap {
      width: 100%;
      height: 2px;
      border-bottom: 2px solid white;
      margin: 10px 0;
    }
    .navbar-toggler {
      padding: 10px 20px;
    }
    .navbar-nav {
      align-items: center;
      .nav-item {
        align-self: center;
        text-align: center;
        justify-items: center;
        justify-content: center;
        display: grid;
        grid-template-rows: auto 0fr;
        overflow: hidden;
        grid-template-columns: 1fr;
        width: 100%;
        transition: 0.6s var(--smoothIn_linear);
        &:hover,
        &:active {
          transition: 0.5s var(--smoothIn_linear);
          background: var(--purple-clr_900);
        }
        &:has(.show) {
          grid-template-rows: auto 1fr;
          background-color: green;
        }
        &.admin {
          padding: 20px !important;
        }
        .nav-link {
          width: 100%;
        }
        .dropdown-menu {
          min-height: 0;
          --dd-height: 50px;
          margin-bottom: 0;
          transition: 0.4s var(--smoothIn_linear);
          display: block;
          padding: 0;
          margin: 0 !important;
          z-index: 3;
          --dd-height: 50px;
          border: 0;
          gap: 10px;
          width: 100%;
          padding: 0 15px;
          &.show {
            display: grid;
            transform: translateX(0%);
            padding: 15px;
            .dropdown-item {
              transition: 0.6s ease-in;
              &:hover,
              &:active {
                transition: 0.1s linear;
                background: var(--purple-clr_100);
              }
            }
          }
          &.grid-3-col {
            grid-template-rows: auto auto;
            grid-template-columns: 1fr 1fr;
            grid-auto-flow: dense;
            .character {
              grid-column: 1/-1;
              order: 3;
            }
            .stuff {
              order: 1;
            }
            .account {
              order: 2;
            }
          }
        }
        .dt-nav-group {
          display: grid;
          grid-auto-rows: max-content;
          height: max-content;
          flex-grow: 10;
          border-radius: 15px;
          background-color: var(--body-color);
          contain: layout;
          width: 100%;
          .dt-nav-header,
          .dt-nav-item {
            padding: 0 10px;
          }
          .dt-nav-header {
            // grid-column: 1/2;
            // grid-row: 1/2;
            margin: 0;
            font-size: 1em;
            border-radius: 13px 13px 0 0;
            min-height: 2rem;
            align-content: center;
          }
          .dt-nav-item {
            color: var(--purple-clr_700);
            padding: 10px;
            font-weight: 500;
            font-size: 0.9em;
            text-decoration: none;
            transition: 0.2s ease;
            justify-content: start;
            align-items: center;
            text-align: left;
            border-bottom: 1px var(--purple-clr_300) solid;
            &:has(+ h2) {
              border: 0;
            }
            &:hover,
            &:active {
              background-color: var(--purple-clr_100);
            }
            // &.m-small {
            //   padding: 5px 10px;
            // }
          }
          hr {
            display: none;
          }
        }
      }
    }
    .clocktainer {
      display: grid;
      grid-template-columns: 1.09fr 1fr;
      justify-content: center;
      gap: 10px;
      align-content: center;
      padding: 5px 0;
      color: var(--white);
      .cash,
      .clock {
        display: flex;
        gap: 4px;
      }
      .cash {
        flex-direction: row-reverse;
        &::before {
          content: '✦';
          padding-left: 10px;
        }
      }
    }
    .mobile-topnav {
      display: flex;
    }
  }
}

// prettier-ignore
@keyframes wobble-hor-bottom {
  0%   { transform: rotate(0deg); }
  90%  { transform: rotate(0deg); }
  92%  { transform: rotate(3deg); }
  94%  { transform: rotate(-3deg); }
  96%  { transform: rotate(2deg); }
  98%  { transform: rotate(-1deg); }
  99%  { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}

.mobile-topnav {
  display: none;
  .mobile-menu-button {
    margin: 0 10px;
    padding: 3px 10px;
    border: 2px solid var(--white);
    background-color: transparent;
    color: var(--white);
    border-radius: 10px;
  }
}
