// Navbar itself
#app {
  #site-wrapper {
    #header-nav {
      @include body-bg;
      @include scalloped;
      background-color: color-mix(in srgb, var(--active-clr_700) 70%, transparent);
      grid-area: nav;
      border-radius: 20px;
      z-index: 3;
      .navbar-nav {
        display: flex;
        gap: 5px;
        align-items: center;
        .dropdown {
          border-radius: 10px;
          transition: 0.1s ease;
          border: 2px transparent solid;
          box-shadow: 0 0 10px color-mix(in srgb, var(--active-clr_600) 20%, transparent);
          > a {
            color: var(--purple-clr_50);
          }
          .dropdown-toggle {
            display: flex;
            place-content: center;
            place-items: center;
            transition: 0.1s ease;
            user-select: none;
            &::after {
              transition: 1s var(--elastic_linear);
              transform: rotate(-90deg);
            }
          }
          &:has(.show) {
            // &.show {
            border-radius: 10px 10px 0 0;
            border: 2px var(--purple-clr_300) solid;
            filter: drop-shadow(0 0 10px color-mix(in srgb, var(--active-clr_800) 50%, transparent));
            background-color: var(--purple-clr_50);
            z-index: 1;
            &:hover {
              border-radius: 10px 10px 0 0;
            }
            .dropdown-toggle {
              // padding: 5px;
              color: var(--purple-clr_700);
              &::after {
                transform: rotate(0);
              }
            }
          }
        }
      }
      .nav-item {
        padding: 0 5px;
        &:hover {
          transition: 0.1s ease;
          background-color: var(--active-clr_700);
        }
        &.nav-notifications {
          width: 2.5em;
          transform-origin: 50% 300%;
          animation: wobble-hor-bottom 10s var(--smoothIn_linear) forwards infinite;
        }
        > .dropdown-toggle {
          color: var(--purple-clr_bgtext);
          padding: 5px 0;
        }
        .btn-secondary {
          display: flex;
          place-items: center;
          place-content: center;
          gap: 5px;
          margin: 0;
        }
        &.admin {
          border-radius: 10px;
          padding: 5px;
          a {
            color: var(--purple-clr_200);
          }
        }
        &.nav-notifications {
          background-color: var(--purple-clr_300);
          border-radius: 15px;
          a {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            gap: 5px;
            color: var(--purple-clr_600);
          }
        }
      }
      .navbar-brand .navbar-brand-image {
        max-width: 40vw;
      }
      .navbar-toggler {
        .navbar-toggler-icon {
          position: relative;
          transition: 0.3s ease;
          left: -5px;
          .line {
            width: 30px;
            height: 6px;
            border-radius: 10px;
            background-color: var(--white);
            position: absolute;
            transform-origin: center center;
            transition: 0.3s ease;
            &:nth-child(1) {
              transform: translateY(0%);
            }
            &:nth-child(2) {
              transform: translateY(200%);
            }
            &:nth-child(3) {
              transform: translateY(400%);
            }
          }
        }
        &:not(.collapsed) {
          .navbar-toggler-icon {
            top: 5px;
            .line {
              width: 40px;
              &:nth-child(1) {
                left: -6px;
                transform: rotate(-45deg) translateY(200%);
              }
              &:nth-child(2) {
                transform: translateY(200%) translateX(00%) scaleX(1.5) scaleY(0);
                opacity: 0;
              }
              &:nth-child(3) {
                left: 9px;
                transform: rotate(45deg) translateY(200%);
              }
            }
          }
        }
      }
    }
  }
}

// global dropdowns styling
.dt-nav-page {
  z-index: 2;
  .dt-nav-group {
    .dt-nav-header {
      background-color: var(--purple-clr_200);
      color: var(--purple-clr_700);
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
    }
    .dt-nav-item {
      color: var(--purple-clr_700);
      background-color: var(--body-color);
      font-weight: 500;
      text-decoration: none;
      display: grid;
      padding: 4px 10px;
      grid-template-columns: 1.5rem auto;
      gap: 10px;
      i {
        display: flex;
        place-content: center;
        place-items: center;
      }
    }
  }
}

// Desktop-only Dropdown styling
@media (width > 768px) {
  .navbar-nav {
    .dropdown {
      display: flex;
    }
  }
  .dt-nav-page {
    display: none;
    top: 100%;
    opacity: 0;
    transform: scale(0.5);
    border: 2px var(--purple-clr_300) solid;
    border-top: 0;
    margin: -2px 0 0 -7px;
    transition:
      all 0.3s var(--spring_linear) allow-discrete,
      display 0.3s var(--spring_linear) allow-discrete;
    background-color: var(--body-color);
    transform-origin: 50% 0;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    min-width: max-content;
    position: relative;
    width: 100%;
    padding: 0 0 10px;
    contain: layout;
    border-radius: 15px;
    &.show {
      border-radius: 0 15px 15px 15px;
      opacity: 1;
      transform: scale(1);
      display: grid;
      .dt-nav-group .dt-nav-header._first {
        border-radius: 0 15px 0 0;
      }
    }
    &.dropdown-menu-right.show {
      margin: -2px -2px 0 0;
      border-radius: 15px 0 15px 15px;
      .dt-nav-group .dt-nav-header._first {
        border-radius: 15px 0 0 0;
      }
    }
    .dt-nav-group {
      position: relative;
      min-width: max-content;
      width: 100%;
      display: grid;
      grid-auto-rows: min-content;
      border-radius: 15px;
      .dt-nav-header {
        width: 100%;
        padding: 5px 10px;
        font-size: 1.3em;
        margin: 0;
        text-align: center;
        cursor: default;
        &._first {
          border-radius: 15px 15px 0 0;
        }
        &:hover {
          border-radius: 10px;
          transform: scale(1.1);
          z-index: 2;
        }
      }
      .dt-nav-item {
        width: min(max-content, 100%);
        border: 0 transparent solid;
        border-width: 2px;
        &:first-child {
          border-radius: 15px 15px 0 0;
        }
        &:hover {
          background-color: var(--purple-clr_300);
          border-color: var(--purple-clr_400);
          transform: scale(1.15);
          border-radius: 100vw;
          z-index: 2;
        }
      }
      .dt-nav-header,
      .dt-nav-item,
      hr {
        transition:
          transform 0.5s var(--elastic_linear),
          border 0.3s linear,
          border-radius 0.3s linear,
          background-color 0.3s linear,
          all 0.1s linear;
      }

      .dt-nav-header,
      hr {
        border-width: 0 2px;
        border: 0px transparent solid;
      }
      // wall of sibling selectors
      .dt-nav-header:has(+ .dt-nav-item:hover),
      .dt-nav-item:has(+ .dt-nav-item:hover),
      hr:has(+ .dt-nav-item:hover), //has hovered item
      .dt-nav-header:has(+ .dt-nav-header:hover),
      .dt-nav-item:has(+ .dt-nav-header:hover),
      hr:has(+ .dt-nav-header:hover), // has hovered heading
      .dt-nav-header:hover + .dt-nav-item,
      .dt-nav-header:hover + .dt-nav-header,
      .dt-nav-header:hover + hr, // adjacent hovered item
      .dt-nav-item:hover + .dt-nav-item,
      .dt-nav-item:hover + .dt-nav-header,
      .dt-nav-item:hover + hr
      // adjacent hovered heading
      {
        transform: scale(1.06);
        z-index: 1;
        border-radius: 10px;
        border-color: transparent var(--purple-clr_300);
      }
      .dt-nav-item:has(+ .dt-nav-item:hover),
      .dt-nav-item:has(+ .dt-nav-header:hover),
      .dt-nav-item:hover + .dt-nav-item,
      .dt-nav-item:hover + .dt-nav-header {
        background-color: var(--purple-clr_100);
        border-radius: 15px;
      }
      hr {
        width: calc(100% - 20px);
        justify-self: center;
        margin: 5px;
        height: 1px;
        background-color: var(--purple-clr_600);
      }
    }
  }
}
@starting-style {
  .dt-nav-page.show {
    opacity: 0;
    transform: scale(0.5);
  }
}

/* Mobile Only Dropdown-styling */
@media (width < 768px) {
  #header-nav {
    padding: 0;
    #nav-mobile-gap {
      width: 100%;
      height: 2px;
      border-bottom: 2px solid white;
      margin: 10px 0;
    }
    .navbar-toggler {
      padding: 10px 20px;
    }
    .navbar-nav {
      align-items: center;
      .nav-item {
        align-self: center;
        text-align: center;
        justify-items: center;
        justify-content: center;
        width: 100%;
        transition: 1.3s var(--smoothIn_linear);
        &:hover {
          transition: 0.3s var(--smoothIn_linear);
          background: var(--purple-clr_900);
        }
        .dropdown-menu {
          --dd-height: 50px;
          height: 0;
          margin-bottom: 0;
          transition: 0.4s var(--smoothIn_linear);
          display: block;
          padding: 0;
          overflow: hidden;
          z-index: 3;
          /* transform: translateX(-100%); */
          transition: 0.4s var(--smoothIn_linear);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-around;
          --dd-height: 50px;
          transition: 0.3s var(--smoothIn_linear);
          height: 0;
          padding: 0;
          margin-bottom: 0;
          border: 0;
          z-index: 3;
          gap: 10px;
          padding: 0 15px;
          @supports not (height: calc-size(auto, size)) {
            height: calc(100% - var(--dd-height));
            max-height: 0;
          }
          &.show {
            display: flex;
            transform: translateX(0%);
            padding: 15px;
            @supports (height: calc-size(auto, size)) {
              height: calc-size(auto, size);
            }
            @supports not (height: calc-size(auto, size)) {
              max-height: 550px;
            }

            .dropdown-item {
              transition: 0.5s ease-in;
              &:hover {
                transition: 0.1s linear;
                background: var(--purple-clr_100);
              }
            }
          }
        }
        .dt-nav-group {
          display: grid;
          grid-auto-rows: max-content;
          height: max-content;
          flex-grow: 10;
          border-radius: 15px;
          background-color: var(--body-color);
          contain: layout;
          .dt-nav-header,
          .dt-nav-item {
            padding: 0 10px;
          }
          .dt-nav-header {
            grid-column: 1/2;
            grid-row: 1/2;
            margin: 0;
            font-size: 1.5em;
            border-radius: 13px 13px 0 0;
            height: 2rem;
            align-content: center;
          }
          .dt-nav-item {
            color: var(--purple-clr_700);
            padding: 10px;
            font-weight: 500;
            text-decoration: none;
            transition: 0.2s ease;
            justify-content: start;
            align-items: center;
            border-bottom: 1px var(--purple-clr_300) solid;
            &:last-of-type {
              border: 0;
            }
            &:hover {
              background-color: var(--purple-clr_100);
            }
          }
          hr {
            display: none;
          }
        }
      }
    }
  }
}

// prettier-ignore
@keyframes wobble-hor-bottom {
  0%   { transform: rotate(0deg); }
  90%  { transform: rotate(0deg); }
  92%  { transform: rotate(3deg); }
  94%  { transform: rotate(-3deg); }
  96%  { transform: rotate(2deg); }
  98%  { transform: rotate(-1deg); }
  99%  { transform: rotate(1deg); }
  100% { transform: rotate(0deg); }
}
