.inventory-search-pane {
  display: grid;
  grid-template:
    'category rarity artist sort  ' 1fr
    'name     name   name   search' 1fr
    / 2fr 2fr 2fr 1fr;
  place-content: start;
  place-items: start;
  gap: 0.6em;
  .sort,
  .name,
  .category,
  .rarity,
  .artist,
  .search,
  input,
  select {
    width: 100%;
  }
  .name {
    grid-area: name;
  }
  .category {
    grid-area: category;
  }
  .rarity {
    grid-area: rarity;
  }
  .artist {
    grid-area: artist;
  }
  .search {
    grid-area: search;
  }
  @container main-container (width < 992px) {
    grid-template:
      'rarity rarity category category' 1fr
      'artist artist artist sort' 1fr
      'name name name search' 1fr
      / 1fr 1fr 1fr 1fr;
  }
}
