// prettier-ignore
.masterlist-search-grid,
.inventory-search-pane,
.trait-search-pane {
  display: grid;
  gap: 10px;
  place-content: start;
  place-items: start;
  legend {
    margin: -10px 10px;
    padding: 3px;
    width: max-content;
    text-transform: lowercase;
    font-family: 'Itim', sans-serif;
    transform: translateY(-10%);
  }
  .name, .category, .rarity, .artist, .search, .character-name,
  #species,.species,.sortby,.advanced-toggle,.searchbutton,.palate,
  .sort, .name, .category, .rarity, .artist, .search,
  input, select { width: 100%; margin: 0; }

  .name            { grid-area: name;     }
  .category        { grid-area: category; }
  .rarity          { grid-area: rarity;   }
  .artist          { grid-area: artist;   }
  .search          { grid-area: search;   }
  .character-name  { grid-area: name;     }
  #species         { grid-area: species;  }
  .species         { grid-area: species;  }
  .sortby          { grid-area: sortby;   }
  .advanced-toggle { grid-area: a-btn;    }
  .searchbutton    { grid-area: submit;   }
  .palate          { grid-area: palate;   }
}
.masterlist-search-grid {
  grid-template:
    'name  species rarity sortby submit a-btn' max-content
    / 2fr 2fr 2fr 2fr 1fr 1fr;
}
.inventory-search-pane {
  grid-template:
    'category rarity artist sort  ' 1fr
    'name     name   name   search' 1fr
    / 2fr 2fr 2fr 1fr;
}
.trait-search-pane {
  grid-template:
    'name    name   category rarity ' 1fr
    'species palate sortby   submit' 1fr
    / 2fr 2fr 2fr 2fr;
}

@container main-container (width < 1000px) {
  .inventory-search-pane {
    grid-template:
      'rarity rarity category category' 1fr
      'artist artist artist   sort    ' 1fr
      'name   name   name     search  ' 1fr
      / 1fr 1fr 1fr 1fr;
  }
  .masterlist-search-grid {
    grid-template:
      'name   species' max-content
      'sortby rarity' max-content
      'a-btn  submit' max-content
      / 1fr 1fr;
    justify-items: center !important;
  }
  .trait-search-pane {
    grid-template:
      'name name category category' 1fr
      'rarity rarity species species' 1fr
      'palate palate sortby sortby' 1fr
      '.  . . submit' 1fr
      / 2fr 2fr 2fr 2fr;
  }
}
