@import '../support/mixins';
@import '../support/variables';

// ACTUAL SIDEBAR
#app #site-wrapper {
  #sidebar-container {
    // &.has-sidebar #sidebar-container {
    grid-area: sidebar;
    max-width: 100%;
    position: relative;
    #site-mobile-header {
      display: none;
    }
  }
  #sidebar {
    .sidebar-header {
      @include body-bg(0.7, var(--purple-clr_700));
      @include header-top;
      border-radius: 15px 15px 0 0;
      padding: 5px;
      a {
        font-weight: 600;
        font-size: 1.1em;
        color: var(--purple-clr_100);
      }
    }
    #sidebar-ul {
      border-radius: 20px;
      .sidebar-section {
        ul {
          margin: 0;
          padding: 0;
        }
        .sidebar-item {
          display: flex;
          align-items: center;
          background-color: var(--purple-clr_50);
          & + * {
            // border-top: 1px solid #8888;
          } /* Owl Syntax */
          a {
            color: var(--purple-clr_500);
            padding: 3px 0;
            &.active {
              font-weight: 700;
              color: var(--white);
            }
            &:hover,
            &:active {
              transition: 0.1s linear;
              background-color: var(--purple-clr_300);
              color: var(--purple-clr_800);
            }
          }
          &:has(a.active) {
            min-height: 2rem;
            background-color: var(--purple-clr_400);
          }
        }
      }
    }
  }
}

// DETAILS COLLAPSERS
#sidebar {
  // box-shadow: 0 0 10px color-mix(in srgb, var(--active-clr_600) 20%, transparent);
  border-radius: 15px;
  details {
    width: 100%;
    font-size: 1em;
    // background-color: var(--purple-clr_50);
    transition: 0.4s var(--spring_linear);
    overflow: clip;
    border-width: 0 2px;
    &:last-of-type {
      border-radius: 0 0 15px 15px;
    }
    summary {
      font-weight: 500;
      color: var(--purple-clr_900);
      position: relative;
      text-align: center;
      padding: 5px 0;
      background: color-mix(in srgb, var(--active-clr_100) 70%, transparent);
      backdrop-filter: blur(5px);
      &::marker {
        content: '';
      }
      &::after {
        content: '';
        position: absolute;
        right: 10px;
        top: 0.5em;
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        background-color: var(--purple-clr_400);
        transform: rotate(0deg);
        clip-path: polygon(0 0, 0% 100%, 100% 50%);
        transform-origin: 50%;
        transition: 0.2s var(--smoothIn_linear);
      }
    }
    li {
      background-color: var(--body-color);
      display: flex;
      justify-content: center;
      font-size: 1rem;
    }
  }
  details[open] {
    background-color: transparent;
    background-color: var(--purple-clr_100);
    li {
      padding: 0;
      &:last-of-type {
        // border-radius: 0 0 15px 15px;
        position: relative;
        &::before {
          content: '';
          user-select: none;
          pointer-events: none;
          position: absolute;
          width: 100%;
          height: 1em;
          bottom: 0;
          filter: drop-shadow(0px 5px 20px #333333cc);
        }
      }
      a {
        width: 100%;
        text-align: center;
        transition: 0.3s ease-out;
      }
    }
    summary {
      background-color: var(--purple-clr_300);
      font-weight: 500;
      &::after {
        transform: rotate(90deg);
      }
    }
    + details {
      &:last-of-type {
        border-radius: 0 0 15px 15px;
      }
    }
  }
}
::details-content {
  transition:
    height 0.3s var(--spring_linear),
    content-visibility 0.3s var(--spring_linear) allow-discrete;
  height: 0;
  overflow: clip;
}
/* Browser supports interpolate-size */
@supports (interpolate-size: allow-keywords) {
  :root {
    interpolate-size: allow-keywords;
  }
  [open]::details-content {
    height: auto;
  }
}
@supports selector(::details-content) {
  .notice {
    display: none;
  }
}

.sidebar {
  text-align: right;
  padding-right: 0px;
  a {
    color: color-mix(in srgb, var(--black) 70%, transparent);
    &:hover,
    &:active {
      color: var(--purple-clr_900);
    }
    &:hover,
    &:active,
    &:focus,
    &:link {
      text-decoration: none;
    }
  }
  details {
    list-style-type: none;
    ul {
      background-color: var(--purple-clr_300);
      border-top-left-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
      margin-bottom: 1em;
      padding: 0.4em 0;

      box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
    }
  }
  .sidebar-header {
    text-align: center;
    color: var(--white);
    a {
      font-size: 0.8em;
      color: var(--purple-clr_50);
      &:hover,
      &:active {
        background-color: transparent;
        color: var(--purple-clr_50);
      }
    }
  }
  /* .sidebar-section {  } */
  .sidebar-section-header {
    display: block;
    padding: 0.1em 1em;
  }
}

@media (width <= 1000px) {
  #app #site-wrapper #sidebar {
    box-shadow: unset;
    #sidebar-ul {
      padding-left: 0px;
      text-align: left;
      z-index: 3;
      right: 0px;
      bottom: 0px;
      top: 0px;
      // overflow-y: scroll;
      left: -100%;
      transition: left 0.2s;
      &.active {
        left: 0%;
      }
      .sidebar-ul {
        border: 2px solid var(--purple-clr_500);
      }
      > ul {
        padding-top: 0px;
      }
      .sidebar-section.nonlinear ul {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 10px;
        justify-content: space-between;
        li {
          a {
            padding: 3px 6px;
            &:hover,
            &:active {
              background-color: transparent;
            }
          }
          padding: 0;
          border-radius: 10px;
          border: solid 2px transparent;
          &:hover,
          &:active {
            border: solid 2px var(--purple-clr_900);
          }
        }
      }
      ul {
        list-style-type: none;
        display: block;
        padding-top: 30px;
        padding-left: 0px;
        li {
          background-color: var(--purple-clr_bgtext);
          border-radius: 0;
          border: 0px solid var(--purple-clr_100);
          border-bottom-width: 1px;
          padding: 0em 0;
          box-shadow: none;
          &:last-of-type {
            border-bottom-width: 0px;
          }
        }
      }
    }
  }
}

// FEATURED CHARACTER
.featured-character {
  .sidebar-header {
    background-color: var(--purple-clr_600);
  }
  .sidebar-section {
    display: grid;
    place-content: center;
    place-items: center;
    grid-template:
      'thumb' auto
      'name ' auto
      'slug ' auto
      'owner' auto
      'species ' auto
      'rarity ' auto
      / max-content;
    @include body-bg;
    border-radius: 0 0 15px 15px;
    .slug {
      grid-area: slug;
    }
    .thumb {
      grid-area: thumb;
      display: grid;
      justify-items: center;
      position: relative;
      place-content: center;
      place-items: center;
      contain: paint;
      --cb-size: 0.8;
      width: calc(1 * var(--sidebar-width));
      height: calc(1 * var(--sidebar-width));
      img {
        border: 0;
        // border-radius: 100vw;
        position: relative;
        z-index: 100;
        overflow: hidden;
        filter: drop-shadow(2px 2px 3px #111111aa);
        width: calc(0.8 * var(--sidebar-width));
        height: calc(0.8 * var(--sidebar-width));
        aspect-ratio: 1/1;
        padding: 0;
        animation: char-fly 3.5s cubic-bezier(0.38, 0.015, 0.58, 1) forwards infinite;
        // animation: char-fly 3s var(--spring_linear) forwards infinite;
        transform-origin: 50% 200%;
        &.kofi-gift {
          animation: wobble-kofi 6s var(--smoothIn_linear) forwards infinite;
        }
      }
      .character-border {
        mask-mode: luminance;
        // mask-image: radial-gradient(black 0%, black 63%, white 63%, white 100%);
        transform-origin: center;
        position: absolute;
        width: calc(0.8 * var(--sidebar-width));
        height: calc(0.8 * var(--sidebar-width));
        border-radius: 100vh;
        overflow: hidden;
        contain: paint;
        .rainbow,
        .stars {
          position: absolute;
          left: 0;
          width: 100%;
          border-radius: 100vh;
          aspect-ratio: 1/1;
        }
        .rainbow {
          animation: hr 6s linear infinite forwards;
          --r-value: 0.8;
          --r-sat: 0.2;
          --r-gradient: conic-gradient(
            oklch(var(--r-value) var(--r-sat) 000deg) 00%,
            oklch(var(--r-value) var(--r-sat) 060deg) 18%,
            oklch(var(--r-value) var(--r-sat) 120deg) 35%,
            oklch(var(--r-value) var(--r-sat) 180deg) 50%,
            oklch(var(--r-value) var(--r-sat) 240deg) 68%,
            oklch(var(--r-value) var(--r-sat) 300deg) 80%,
            oklch(var(--r-value) var(--r-sat) 360deg) 100%
          );
          background-image: var(--r-gradient);
          &.kofi {
            --r-gradient: conic-gradient(
              oklch(var(--r-value) var(--r-sat) calc(100deg + 120deg)) 00%,
              oklch(var(--r-value) var(--r-sat) calc(140deg + 120deg)) 18%,
              oklch(var(--r-value) var(--r-sat) calc(160deg + 120deg)) 35%,
              oklch(var(--r-value) var(--r-sat) calc(180deg + 120deg)) 50%,
              oklch(var(--r-value) var(--r-sat) calc(200deg + 120deg)) 68%,
              oklch(var(--r-value) var(--r-sat) calc(140deg + 120deg)) 80%,
              oklch(var(--r-value) var(--r-sat) calc(100deg + 120deg)) 100%
            );
          }
        }
        .stars {
          mix-blend-mode: overlay;
          opacity: 0.8;
          position: relative;
          transform: rotateZ(-30deg);
          transition: all allow-discrete;
          &::before,
          &::after {
            content: '';
            position: absolute;
            width: calc(0.8 * var(--sidebar-width));
            height: calc(0.8 * var(--sidebar-width));
            animation: stars 10s linear forwards infinite;
            background-image: url('images/overlays/starring.png'); // TODO: fragile path
            background-repeat: repeat;
            background-size: 50%;
            transform: translateX(0%);
          }
          &::before {
            left: -100%;
          }
          &::after {
            left: 0%;
          }
        }
      }
      .char-filter {
        position: absolute;
        width: calc(0.8 * var(--sidebar-width));
        height: calc(0.8 * var(--sidebar-width));
        background-color: var(--purple-clr_300);
        mix-blend-mode: soft-light;
      }
    }

    .name {
      grid-area: name;
      &:hover,
      &:active {
        color: var(--teal-clr_500);
      }
    }
    .display-user {
      grid-area: owner;
    }
    .species {
      grid-area: species;
    }
    .rarity {
      grid-area: rarity;
      background-color: inherit;
    }
  }
}

@media (width <= 1000px) {
  #app #site-wrapper {
    --sidebar-width: min(50vw, 300px);
  }
  .featured-character {
    .sidebar-section {
      grid-template:
        'thumb name' auto
        'thumb owner ' auto
        'thumb species' auto
        'thumb rarity' auto
        / 40vw max-content;
      align-content: center;
      align-items: center;
      .display-user,
      .species,
      .rarity,
      .name {
        font-size: 0.7em;
        &::before {
          content: 'ãƒ»';
        }
      }
    }
    font-size: 1rem;
  }
}
@media (width <= 600px) {
  #app #site-wrapper {
    --sidebar-width: min(40vw, 300px);
  }
}

/* prettier-ignore */
@keyframes hr {
  0% { transform: rotateZ(0); }
  100% { transform: rotateZ(360deg); }
}
/* prettier-ignore */
@keyframes stars {
  from { transform: translateX(0%); }
  to { transform: translateX(100%); }
}
/* prettier-ignore */
@keyframes star {
  from { background-position: 0% 0%; }
  to { background-position: 100% -300%; }
}

/* prettier-ignore */
@keyframes char-fly {
  0% { transform: rotate(-1.5deg); }
  50% { transform: rotate(2deg); }
  100% { transform: rotate(-1.5deg); }
}

#selected-character {
  grid-area: char;
  position: relative;
  z-index: 2;
  @include body-bg;
  height: min-content;
  img {
    @include hover-preview;
  }
  &.profile {
    .profile-assets-content {
      height: 100%;
      .selected-header {
        background: unset;
        box-shadow: unset;
        background-color: transparent;
        color: var(--purple-clr_800);
        backdrop-filter: unset;
        font-family: 'Itim';
        font-weight: 600;
      }
      img {
        max-width: 100%;
        max-height: 300px;
        @include hover-preview;
      }
    }
  }
  .selected-header {
    background-image: url('images/overlays/otis-redding_noise.png');
    background-color: color-mix(in srgb, var(--purple-clr_700) 70%, transparent);
    backdrop-filter: saturate(200%) blur(5px);
    box-shadow: 0 0 10px color-mix(in srgb, var(--active-clr_600) 20%, transparent);
    border-radius: 15px 15px 0 0;
    padding: 5px;
    font-size: 1.15em;
    color: var(--purple-clr_50);
  }
  .profile-assets-content {
    display: grid;
    img {
      max-width: 100%;
      max-height: 200px;
    }
  }
}

#app #site-wrapper #sidebar #sb-featured-mobile {
  border-radius: 15px;
  gap: 10px;
  .featured-character {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    box-shadow: none;
    .character {
      background-color: transparent;
      backdrop-filter: unset;
      box-shadow: unset;
      .thumb {
        .character-border {
          width: 100%;
          height: 100%;
        }
      }
      .img-char-thumbnail {
      }
    }
    .info {
      display: grid;
      grid-template-rows: max-content auto;
      @include body-bg(0.5);
      border-radius: 15px;
      text-align: center;
      position: relative;
      height: max-content;
      > * {
        width: 100%;
      }
      .meta {
        display: grid;
        align-self: center;
        padding-bottom: 20px;
      }
      .sidebar-header {
        display: block;
        height: max-content;
      }
      .name {
        display: block;
        &.name-lg {
          font-size: 3em;
        }
        font-size: 2.5em;
        &.name-sm {
          font-size: 2em;
        }
      }
      .baddge {
        position: absolute;
        top: calc(100% - 8vw);
        left: -4vw;
        width: 10vw;
        height: 10vw;
        @include hover-preview;
      }
    }
  }
}
@media (width >= 1000px) {
  #sb-featured-desktop,
  #kofi-banner-dt,
  .sidebar.sidebar-desktop {
    display: block;
  }
  #sb-featured-mobile,
  #kofi-banner-mb,
  .sidebar.sidebar-mobile {
    display: none;
  }
}
@media (width < 1000px) {
  #sb-featured-desktop,
  #kofi-banner-dt,
  .sidebar.sidebar-desktop {
    display: none;
  }
  #sb-featured-mobile,
  #kofi-banner-mb,
  .sidebar.sidebar-mobile {
    display: block;
  }
}
@media (width < 800px) {
  #sidebar-container:has(.sidebar-mobile) {
    width: 100%;
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows ease-out 0.25s;
    overflow: hidden;
    border-radius: 15px--gutter-width;
    perspective: 50px;
    &.show {
      transition: grid-template-rows var(--smoothIn_linear) 0.5s;
      grid-template-rows: 1fr;
      .sidebar.sidebar-mobile {
        // outward animation
        transition: var(--smoothIn_linear) 0.4s;
        transform: scaleY(1) rotateX(0deg);
      }
    }
    // Mobile Content Slider
    .sidebar.sidebar-mobile {
      transform-origin: 0 0;
      min-height: 0;
      // inward animation
      transition: var(--smoothIn_linear) 0.5s;
      transform: scaleY(0.6) rotateX(-2deg);
    }
  }
}

// hack to remove the front-page toggle button since featured character should always show
#site-wrapper:has(#sidebar-container .sidebar-mobile #sb-featured-mobile) {
  #header-nav #mobile-sidebar-toggle {
    display: none !important;
  }
  #sidebar-container {
    grid-template-rows: 1fr;
    .sidebar.sidebar-mobile {
      transform: scaleY(1) rotateX(0deg);
    }
  }
}
// prettier-ignore
@keyframes wobble-kofi {
  0%   { transform: rotate(0deg); }
  90%  { transform: rotate(0deg); }
  92%  { transform: rotate(2deg); }
  94%  { transform: rotate(-2deg); }
  96%  { transform: rotate(1deg); }
  98%  { transform: rotate(-.5deg); }
  99%  { transform: rotate(.5deg); }
  100% { transform: rotate(0deg); }
}
